.preloader-tr{position: fixed; width: 100%; height: 100%; z-index: 3000; left: 0;top: 0; animation-duration: 1s; animation-fill-mode: forwards; animation-delay: 5000ms;
    &__bg{position: absolute; width: 100%; height: 100%; left: 0;top: 0; z-index: 100; background-color: #000; transition: opacity 200ms;  }
    img.bg{width: 100%;height: 100%; object-fit: cover; object-position: 0 100%; position: absolute; z-index: 1; transition: opacity 7000ms;
        &.bg2{transition:none; z-index: 0;}
    }
    &__logo{z-index: 10; position: absolute; text-align: center; display: flex;justify-content: center;align-items: center; flex-direction: column; left: 0; bottom: 50%; width: 100%; font-size: 42px; color: #fff; font-weight: 300;
        svg{ max-width: 680px; width: 100%; height: 100%; fill:#fff;}
        span{margin-top: 20px;}
    }
    & + .global-wrapper{height: 100vh; overflow: hidden;}
    &__loader{z-index: 10; position: absolute; width: 300px; left:calc(50% - 150px); bottom: 0;
        &:before{height: 3px; width: 100%; background-color: #fff; opacity: 0.5; content: ''; display: block; position: absolute; top: 30px; left: 0;}
        &:after{height: 3px; width: 5%; background-color: #fff;   content: ''; display: block; position: absolute; top: 30px; left: 0; animation-fill-mode: forwards; animation-duration: 5000ms;}
        ul{height: 100px; width: 100%; overflow: hidden; list-style-type: none; padding-left: 125px; margin-top: 17px; position: relative;}
        li{position: absolute; top: 30px; font-size: 30px; color: #fff; animation-fill-mode: forwards; animation-duration: 5000ms;
            &:nth-child(2){top: 60px; opacity: 0.3;}
            &:nth-child(3){top: 90px; opacity: 0;}
            &:nth-child(4){top: 120px; opacity: 0;}
        }
        p{font-size: 22px; text-transform: uppercase; color: #fff; text-align: center;}
    }
    &.animate{animation-name: opa;
        .preloader-tr__bg{opacity: 0;}
        img.bg:not(.bg2){opacity: 0;}
        .preloader-tr__loader:after{animation-name: line;}
        .preloader-tr__loader li:nth-child(1){animation-name: linc1;}
        .preloader-tr__loader li:nth-child(2){animation-name: linc2;}
        .preloader-tr__loader li:nth-child(3){animation-name: linc3;}
        .preloader-tr__loader li:nth-child(4){animation-name: linc4;}
    }
    &.preloader-tr__second{ animation-delay: 1600ms; pointer-events: none; background-color: #fff;
        img.bg{    width: 120%; height: 120%;opacity: 1;  transition: opacity 3500ms; }
        .preloader-tr__logo {animation-iteration-count: infinite; animation-duration: 1500ms; padding: 15px; top: calc(50% - 90px); animation-name:pulse; }
        .preloader-tr__bg{background-color: #fff;}
    }
    @keyframes opa {
        0%{opacity: 1;}
        100%{opacity: 0;}
    }
    @keyframes pulse {
        0%{transform: scale(1)}
        50%{transform: scale(0.8)}
        100%{transform: scale(1)}
    }
    @keyframes line {
        0%{width: 5%;}
        25%{width: 25%;}
        75%{width: 75%;}
        100%{width: 100%;}
    }
    @keyframes linc1 {
        0%{top: 30px;opacity: 1;}
        25%{top: 0; opacity: 0;}
        75%{top: -30px; opacity: 0;}
        100%{top: -60px;opacity: 0;}
    }
    @keyframes linc2 {
        0%{top: 60px;  opacity: 0.3;}
        25%{top: 30px;  opacity: 1;}
        75%{top: 0; opacity: 0;}
        100%{top: -30px; opacity: 0;}
    }
    @keyframes linc3 {
        0%{top: 90px; opacity: 0;}
        25%{top: 60px;opacity: 0.3;}
        75%{top: 30px;opacity: 1;}
        100%{top: 0;opacity: 0;}
    }
    @keyframes linc4 {
        0%{top: 120px;opacity: 0;}
        25%{top: 90px;opacity: 0;}
        75%{top: 60px;opacity: 0.3;}
        100%{top: 30px;opacity: 1;}
    }
}
@media screen and (max-width: 992px){
    .preloader-tr__logo{bottom: auto; top: 0; padding: 100px 40px 40px; font-size: 24px;}
}
@media screen and (max-width: 768px){
    .preloader-tr img.bg{  transition: opacity 300ms; transition-delay: 6700ms;}
}