#cntrUKR40d{ stroke-dasharray: 605; stroke-dashoffset: 607; transition: all 1300ms ease-in-out;}
#cntrUKR30d{ stroke-dasharray: 695; stroke-dashoffset: 696; transition: all 1300ms ease-in-out;}
#cntrUKR30n{ stroke-dasharray: 398; stroke-dashoffset: 399; transition: all 1300ms ease-in-out;}
#cntrUKR40n{ stroke-dasharray: 775; stroke-dashoffset: 776; transition: all 1300ms ease-in-out;}
#cntrWHS40d{ stroke-dasharray: 186; stroke-dashoffset: 187; transition: all 1300ms ease-in-out;}
#cntrWHS30d{ stroke-dasharray: 140; stroke-dashoffset: 141; transition: all 1300ms ease-in-out;}
#cntrWHS30n{ stroke-dasharray: 97; stroke-dashoffset: 98; transition: all 1300ms ease-in-out;}
#cntrWHS40n{ stroke-dasharray: 250; stroke-dashoffset: 251; transition: all 1300ms ease-in-out;}
#cntrWTC40d{ stroke-dasharray: 873; stroke-dashoffset: 874; transition: all 1300ms ease-in-out;}
#cntrWTC30d{ stroke-dasharray: 625; stroke-dashoffset: 626; transition: all 1300ms ease-in-out;}
#cntrWTC30n{ stroke-dasharray: 646; stroke-dashoffset: 647; transition: all 1300ms ease-in-out;}
#cntrWTC40n{ stroke-dasharray: 720; stroke-dashoffset: 721; transition: all 1300ms ease-in-out;}
#cntrKPP40d{ stroke-dasharray: 2957; stroke-dashoffset: 2958; transition: all 1300ms ease-in-out;}
#cntrKPP30d{ stroke-dasharray: 884; stroke-dashoffset: 885; transition: all 1300ms ease-in-out;}
#cntrKPP30n{ stroke-dasharray: 2007; stroke-dashoffset: 2008; transition: all 1300ms ease-in-out;}
#cntrKPP40n{ stroke-dasharray: 2720; stroke-dashoffset: 2721; transition: all 1300ms ease-in-out;}
#cntrRCH30d{ stroke-dasharray: 189; stroke-dashoffset: 190; transition: all 1300ms ease-in-out;}
#cntrEXC30d{ stroke-dasharray: 1499; stroke-dashoffset: 1500; transition: all 1300ms ease-in-out;}
#cntrEXC30n{ stroke-dasharray: 1786; stroke-dashoffset: 1787; transition: all 1300ms ease-in-out;}
#cntrMCT30d{ stroke-dasharray: 2924; stroke-dashoffset: 2925; transition: all 1300ms ease-in-out;}
#cntrMCT30n{ stroke-dasharray: 2924; stroke-dashoffset: 2925; transition: all 1300ms ease-in-out;}
#cntrMCT60d{ stroke-dasharray: 1936; stroke-dashoffset: 1937; transition: all 1300ms ease-in-out;}
#cntrTPF60d{ stroke-dasharray: 58; stroke-dashoffset: 59; transition: all 1300ms ease-in-out;}
#cntrEXC60d{ stroke-dasharray: 790; stroke-dashoffset: 791; transition: all 1300ms ease-in-out;}
#cntrKPP60d{ stroke-dasharray: 2364; stroke-dashoffset: 2365; transition: all 1300ms ease-in-out;}
#cntrWTC60d{ stroke-dasharray: 829; stroke-dashoffset: 830; transition: all 1300ms ease-in-out;}
#cntrRCH60d{ stroke-dasharray: 197; stroke-dashoffset: 198; transition: all 1300ms ease-in-out;}
#cntrWHS60d{ stroke-dasharray: 136; stroke-dashoffset: 137; transition: all 1300ms ease-in-out;}
#cntrUKR60d{ stroke-dasharray: 863; stroke-dashoffset: 864; transition: all 1300ms ease-in-out;}
#cntrMCT60n{ stroke-dasharray: 2324; stroke-dashoffset: 2325; transition: all 1300ms ease-in-out;}
#cntrEXC60n{ stroke-dasharray: 1066; stroke-dashoffset: 1067; transition: all 1300ms ease-in-out;}
#cntrKPP60n{ stroke-dasharray: 2001; stroke-dashoffset: 2002; transition: all 1300ms ease-in-out;}
#cntrWTC60n{ stroke-dasharray: 630; stroke-dashoffset: 631; transition: all 1300ms ease-in-out;}
#cntrWHS60n{ stroke-dasharray: 143; stroke-dashoffset: 144; transition: all 1300ms ease-in-out;}
#cntrUKR60n{ stroke-dasharray: 616; stroke-dashoffset: 617; transition: all 1300ms ease-in-out;}
.text-line{ stroke-dasharray: 153; stroke-dashoffset: 154; transition: all 300ms ease-in-out; }
.text-top { opacity: 0; transition: opacity 300ms; }
image[data-hoverset]{opacity: 0;}
.play:hover,
.play.hover {
  image[data-hoverset]{opacity: 1; transition: opacity 800ms;}
  .text-line{transition-delay: 1s}
  .text-top {opacity: 1;transition-delay: 1300ms;}
  #cntrUKR60n, #cntrWHS60n, #cntrWTC60n, #cntrKPP60n, #cntrEXC60n, #cntrMCT60n, #cntrUKR60d, #cntrWHS60d, #cntrRCH60d, #cntrWTC60d, #cntrKPP60d, #cntrEXC60d, #cntrTPF60d, #cntrMCT60d, #cntrMCT30n, #cntrEXC30n, #cntrWHS30n, #cntrWTC30n, #cntrKPP30n, #cntrUKR30n, #cntrMCT30d, #cntrEXC30d, #cntrRCH30d, #cntrWHS30d, #cntrWTC30d, #cntrKPP30d, #cntrUKR30d, #cntrKPP40d,#cntrKPP40n, #cntrWTC40d, #cntrWTC40n, #cntrWHS40d, #cntrWHS40n, #cntrUKR40d, #cntrUKR40n, .text-line {stroke-dashoffset: 0;}
}


