<div class="sidebar hide sidebar--white">
    <a href="home.html" class="sidebar__logo">
        <svg>
            <use xlink:href="#sidebar-logo"></use>
        </svg>
    </a>
    <button class="sidebar__butter sidebar__butter--white"><span></span><span></span><span></span></button>
    <div class="sidebar__nav">
        <li><a href="home.html">Главная страница</a></li>
        <li class="active"><a href="main.html">О проекте</a></li>
        <li><a href="views.html">Виды</a></li>
        <li><a href="plan.html">Планировки</a></li>
        <li><a href="interiors.html">Интерьеры</a></li>
        <li><a href="map.html">Окрестности</a></li>
        <li><a href="gallery.html">Галерея</a></li>
        <li><a href="create.html">Создатели</a></li>
        <li><a href="docs.html">Документы</a></li>
        <li><a href="calc.html">Условия</a></li>
        <li><a href="timeline.html">Ход строительства</a></li>
        <li><a href="news.html">Новости</a></li>
        <li><a href="contacts.html">Контакты</a></li>
        <li class="mamba">
            <a href="tel:7 (495) 021-66-40">+7 (495) 021-66-40</a>
            <a href="get-flat.html"   class="btn"> Подобрать квартиру </a>
        </li>
    </div>
    <div class="sidebar__tel">
        <a href="tel:7 (495) 021-66-40">+7 (495) 021-66-40</a>
        <a href="#learnmore2"  data-fancybox class="btn btn--inverted">
            <span>заказать звонок </span>
            <svg><use xlink:href="#phone"></use></svg>
        </a>

        <a href="getiflat.html"   class="btn btn--inverted"> Подобрать квартиру  </a>
    </div>
</div>