<script>
    var revision = 280219;
</script>
<link rel="stylesheet" href="css/jquery.fancybox.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/dev2.css">
<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBhVFnThRbuE9hUJhXNdHifss4FeM53jo0&sensor=false"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js"></script>
<script type="text/javascript" src="js/plagins/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="js/plagins/trollCounter.js" ></script>
<script type="text/javascript" src="js/plagins/stickyfill.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>
<script type="text/javascript" src="js/dev2.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
