<footer class="footer" style="background-image: url(images/footer.jpg);">
    <div class="footer__wrap">
        <div class="footer__left">
            <div class="footer__logo">
                <svg>
                    <use xlink:href="#sidebar-logo"></use>
                </svg>
            </div>
        </div>
        <div class="footer__nav">
            <div class="footer__nav-col">
                 <a href="main.html">О проекте</a>
                 <a href="views.html">Виды</a>
                 <a href="plan.html">Планировки</a>
                 <a href="interiors.html">Интерьеры</a>

            </div>
            <div class="footer__nav-col">
                <a href="map.html">Окрестности</a>
                <a href="gallery.html">Галерея</a>
                <a href="create.html">Создатели</a>
                <a href="docs.html">Документы</a>

            </div>
            <div class="footer__nav-col">
                <a href="calc.html">Условия</a>
                <a href="timeline.html">Ход строительства</a>
                <a href="news.html">Новости</a>
                <a href="contacts.html">Контакты</a>
            </div>
        </div>
    </div>
    <div class="footer__wrap footer__wrap--bottom">
        <div class="footer__left">
            <div class="footer__tel">
                <a href="tel:+7(495)0216640">+7 (495) 021-66-40</a>
            </div>
        </div>
        <div class="footer__nav">
            <div class="footer__nav-col--bottom">
            </div>
            <div class="footer__nav-col footer__nav-col--bottom">
                <a href="#">Информация не является публичной офертой</a>
            </div>
            <div class="footer__nav-col footer__nav-col--bottom">
                <a href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>