<div class="hidden-block">

    <form class="popup" id="learnmore">

        <div class="popup__row">
            <div class="popup__item">
                <div class="popup__title">Узнать Подробнее</div>
            </div>
        </div>
        <div class="popup__row">
            <div class="popup__item">
                <div class="popup__placeholder">Ваше Имя</div>
            </div>
        </div>
        <div class="popup__row">
            <div class="popup__item">
                <div class="popup__input">
                    <input type="text" required="required" name="name">
                </div>
            </div>
        </div>
        <div class="popup__row">
            <div class="popup__item">
                <div class="popup__placeholder">Телефон</div>
            </div>
        </div>
        <div class="popup__row">
            <div class="popup__item">
                <div class="popup__input">
                    <input type="text" class="tel-mask" required="required">
                </div>
            </div>
        </div>
        <div class="popup__row">
            <div class="popup__item">
                <div class="popup__placeholder">Удобные дата и время звонка</div>
            </div>
        </div>
        <div class="popup__row">
            <div class="popup__item">
                <div class="popup__input">
                    <input type="text" >
                </div>
            </div>
        </div>
        <div class="popup__row">
            <div class="popup__item">
                <div class="popup__agree">
                    <label class="styled" data-selectable="true">
                        <input type="checkbox">
                        <i></i>
                        <span>Согласен быть в числе клиентов Capital Towers</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="popup__row">
            <div class="popup__item">
                <div class="popup__submit">
                    <button type="submit" class="btn btn--big btn--inverted">Узнать подробнее<i><svg width="40" height="20"><use xlink:href="#arrow"></use></svg></i></button>
                </div>
            </div>
        </div>
    </form>
    <div class="popup" id="learnmore2">
        <form action="">
            <div class="popup__row">
                <div class="popup__item">
                    <div class="popup__title">Заказать Звонок</div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__item">
                    <div class="popup__placeholder">Ваше Имя</div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__item">
                    <div class="popup__input">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__item">
                    <div class="popup__placeholder">Телефон</div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__item">
                    <div class="popup__input">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__item">
                    <div class="popup__placeholder">Удобные дата и время звонка</div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__item">
                    <div class="popup__input">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__item">
                    <div class="popup__agree">
                        <label class="styled" data-selectable="true">
                            <input type="checkbox">
                            <i></i>
                            <span>Согласен быть в числе клиентов Capital Towers</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__item">
                    <div class="popup__submit">
                        <button type="submit" class="btn btn--big btn--inverted">Узнать подробнее<i><svg width="40" height="20"><use xlink:href="#arrow"></use></svg></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="popup" id="popupsuccess">

        <div class="popup__row">
            <div class="popup__item">
                <div class="popup__title">Дякую шановний</div>
                <p>Ваш запит прийнято до відома відповідними службами</p>
            </div>
        </div>

    </div>
    <div class="popuper" id="popplan">
        <div class="popuper__wrap">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  viewBox="0 0 1580 860"  preserveAspectRatio="xMidYMid meet">
                <image style="overflow:visible;" width="1580" height="860"  xlink:href="images/pop25.jpg" x="0" y="0"></image>
                <!--<text x="918" y="585">Москва Река</text>-->
                <g class="tower-id" tower-id="3">
                    <image class="toptower__img" style="overflow:visible;" width="202" height="208"  xlink:href="images/pop1.png" x="20" y="180"></image>
                    <path class="toptower__path" d="M140 235 L221 317 L171 348 L149 387 L20 254 L37 229 L67 198 L90 182 L139 235 L 320 235 L 320 145 L 317 145 L 317 139 L 323 139 L 323 145 L 320 145" stroke-width="1" stroke="#fff" fill="none"/>
                    <text class="toptower__text planner__pop-text">
                        <tspan   x="340" y="156">Башня </tspan>
                        <tspan x="340" y="184">City Tower</tspan>
                    </text>
                </g>
                <g class="tower-id" tower-id="2">
                    <image class="toptower__img" style="overflow:visible;" width="178" height="183"  xlink:href="images/2tower.png" x="46" y="493"></image>
                    <path class="toptower__path" d="M 140 517 L 224 603 L 175 631 L 151 675 L 47 566 L 121 495 L 140 517 L 320 517 L 320 443 L 317 443 L 317 437 L 323 437 L 323 443 L 320 443" stroke-width="1" stroke="#fff" fill="none"/>
                    <text class="toptower__text planner__pop-text">
                        <tspan   x="340" y="456">Башня </tspan>
                        <tspan x="340" y="484">Park Tower</tspan>
                    </text>
                </g>
                <g class="tower-id active" tower-id="1">
                    <image class="toptower__img" style="overflow:visible;" width="231" height="239"  xlink:href="images/3tower.png" x="312" y="626"></image>
                    <path class="toptower__path" d="M 359 655 L 386 629 L 542 790 L 492 821 L 469 864 L 313 701 L 359 655 L 359 570 L 356 570 L 356 564 L 362 564 L 362 570 L 359 570" stroke-width="1" stroke="#fff" fill="none"/>
                    <text class="toptower__text planner__pop-text">
                        <tspan   x="380" y="576">Башня </tspan>
                        <tspan x="380" y="604">River Tower</tspan>
                    </text>
                </g>
            </svg>
        </div>
    </div>
</div>