<div class="main__logo preloaded">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 38.7 152" >
        <rect id="logorect1" y="0"  width="4.8" height="151.3"/>
        <rect id="logorect2" x="16.5" y="0"   width="4.8" height="151.3"/>
        <rect id="logorect3" x="33" y="0"   width="4.8" height="113.4"/>
    </svg>
</div>