<div class="maper">
        <div class="maper__map" id="map"></div>
        <div class="maper__bottom">
            <div class="maper__route" data-dropdown-box="id02">
                <div class="maper__nav-title">
                    <button data-dropdown-close="id02"><svg><use xlink:href="#cross"></use></svg></button>
                    <span>Проложите маршрут</span>
                </div>
                <div class="maper__route-select">
                    <p> Я Сейчас <br>
                        Нахожусь:</p>
                    <select name="" id="startpos" class="js-styler">
                    </select>
                </div>
                <div class="maper__route-getlocation"> <svg><use xlink:href="#pointer"></use></svg><span>Определить геолокацию</span></div>
                <div class="maper__route-btn">
                    <a href="javascript:;" onclick="routeModeActivate()" class="btn btn--big">Проложить маршрут <i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i></a>
                    <a href="javascript:;" onclick="routeModeDisactivate()" class="btn btn--big btn--white maper__active-btn">Режим маршрута активирован <br> <span>выберете на карте место откуда проложить маршрут</span></a>
                </div>
                <div class="maper__route-info">
                    <svg><use xlink:href="#pointer"></use></svg>
                    <p><span></span><br>
                        <b> </b>
                    </p>
                </div>
            </div>
            <div class="maper__nav" data-dropdown-box="id01">
                <div class="maper__nav-title">
                    <button data-dropdown-close="id01"><svg><use xlink:href="#cross"></use></svg></button>
                    <span>Выберите объекты</span>
                </div>
                <label>
                    <input type="checkbox" class="maper__navinput" data-type="1">
                    <strong></strong>
                    <i><svg><use xlink:href="#map-1"></use></svg></i>
                    <span>Торговля</span>
                </label>
                <label>
                    <input type="checkbox" class="maper__navinput" data-type="2">
                    <strong></strong>
                    <i><svg><use xlink:href="#map-2"></use></svg></i>
                    <span>Образование</span>
                </label>
                <label>
                    <input type="checkbox" class="maper__navinput" data-type="3">
                    <strong></strong>
                    <i><svg><use xlink:href="#map-3"></use></svg></i>
                    <span>Финансы</span>
                </label>
                <label>
                    <input type="checkbox" class="maper__navinput" data-type="4" checked="checked">
                    <strong></strong>
                    <i><svg><use xlink:href="#map-4"></use></svg></i>
                    <span>Фитнес и спорт</span>
                </label>
                <label>
                    <input type="checkbox" class="maper__navinput" data-type="5">
                    <strong></strong>
                    <i><svg><use xlink:href="#map-5"></use></svg></i>
                    <span>Парки</span>
                </label>
                <label>
                    <input type="checkbox" class="maper__navinput" data-type="6">
                    <strong></strong>
                    <i><svg><use xlink:href="#map-6"></use></svg></i>
                    <span>Рестораны и бары</span>
                </label>
                <label>
                    <input type="checkbox" class="maper__navinput" data-type="7">
                    <strong></strong>
                    <i><svg><use xlink:href="#map-7"></use></svg></i>
                    <span>Государственные организации</span>
                </label>
                <label>
                    <input type="checkbox"  class="maper__navinput" data-type="8">
                    <strong></strong>
                    <i><svg><use xlink:href="#map-8"></use></svg></i>
                    <span>Досуг</span>
                </label>
                <div class="maper__nav-btn">
                    <a href="javascript:;" class="btn btn--big btn--white" data-dropdown-close="id01">Показать<i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i></a>
                </div>
            </div>
            <div class="maper__buter btn btn--big" data-dropdown-btn="id02"> Проложить маршрут <i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i>  </div>
            <div class="maper__buter" data-dropdown-btn="id01">
                <p>Выбрать виды объектов</p>
                <svg><use xlink:href="#pointer"></use></svg>
            </div>
        </div>
    </div>
<script>
    var markers = [
        {lat:55.748663, lng:37.545751, title:'Title Text', text: 'Test Text', url:'icon_1.svg', type:'1'},
        {lat:55.749663, lng:37.546751, title:'Title Text', text: 'Test Text', url:'icon_2.svg', type:'2'},
        {lat:55.747663, lng:37.547751, title:'Title Text', text: 'Test Text', url:'icon_3.svg', type:'3'},
        {lat:55.746663, lng:37.558751, title:'Title Text', text: 'Test Text', url:'icon_4.svg', type:'4'},
        {lat:55.745663, lng:37.564751, title:'Title Text', text: 'Test Text Test Text Test Textфваів фіва фівп фіап фарпавп вап вапва Test Text Test Text Test Textфваів фіва фівп фіап фарпавп вап вапва Test Text Test Text Test Textфваів фіва фівп фіап фарпавп вап вапва ', url:'icon_5.svg', type:'5'},
        {lat:55.744663, lng:37.574751, title:'Title Text', text: 'Test Text', url:'icon_6.svg', type:'6'},
        {lat:55.743663, lng:37.584751, title:'Title Text', text: 'Test Text', url:'icon_7.svg', type:'7'},
        {lat:55.733663, lng:37.584751, title:'Title Text', text: 'Test Text', url:'icon_8.svg', type:'8'},
        {lat:55.733663, lng:37.534751, title:'Title Text', text: 'Test Text', url:'pointer_1.svg', type:'main'},
        {lat:55.733663, lng:37.544751, title:'Title Text', text: 'Test Text', url:'pointer_2.svg', type:'main'}
    ];
    var finalDestination = {lat:55.751625, lng:37.548649};
    var centerMap = {lat:55.751625, lng:37.548649};
    var zoomMap = 14;

</script>