<div class="preloader-tr preloader-tr__second">
    <div class="preloader-tr__bg"></div>
    <img class="bg" src="images/preloader/4_2.png"  data-object-fit="cover" alt="">
    <img class="bg bg2" src="images/preloader/4_1.png"  data-object-fit="cover" alt="">
    <div class="preloader-tr__logo">
        <svg><use xlink:href="#ct_logo"></use></svg>
    </div>
</div>