//= partials/head.html

<div class="global-wrapper">
    <div class="main">
        <section class="section wrap404__section">
            <div class="wrap404"></div>
            <div class="wrap404__text">такой <br>
                страницы <br>
                нет</div>
            <div class="wrap404__btns">
                <div class="wrap404__title">Возможно, вы хотели попасть на одну из этих страниц:</div>
                <div class="wrap404__box">
                    <a href="main.html" class="btn btn--big">О проекте<i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i></a>
                    <a href="views.html" class="btn btn--big">Виды<i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i></a>
                    <a href="plan.html" class="btn btn--big">Планировки<i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i></a>
                    <a href="contacts.html" class="btn btn--big">Контакты<i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i></a>
                </div>

            </div>
        </section>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>