//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">
    <div class="main">
         <!--<section class="calculator">-->
             <!--<div class="wbox">-->
                 <!--<div class="calculator__title">-->
                     <!--<h2>Ипотечный калькулятор</h2>-->
                 <!--</div>-->
                 <!--<div class="calculator__row">-->
                     <!--<div class="calculator__body">-->
                         <!--<div class="calculator__sticky">-->
                            <!--<div class="calculator__item">-->
                                <!--<div class="calculator__text">Гражданство</div>-->
                                <!--<div class="calculator__input">-->
                                    <!--<select class="calculator__select">-->
                                        <!--<option value="e">РФ</option>-->
                                        <!--<option value="e">Иное</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                             <!--<div class="calculator__item">-->
                                 <!--<div class="calculator__text"><span>ВОЗРАСТ ЗАЕМЩИКА, ЛЕТ.</span></div>-->
                                 <!--<div class="calculator__input">-->
                                     <!--<input type="number" value="0" class="calculator__result"/>-->
                                     <!--<div class="calculator__ranger">-->
                                         <!--<div class="ui-ranger"></div>-->
                                     <!--</div>-->
                                 <!--</div>-->
                             <!--</div>-->
                             <!--<div class="calculator__item">-->
                                 <!--<div class="calculator__text"><span>СТОИМОСТЬ КВАРТИРЫ, ₽</span></div>-->
                                 <!--<div class="calculator__input">-->
                                     <!--<input type="number" value="0" class="calculator__result"/>-->
                                     <!--<div class="calculator__ranger">-->
                                         <!--<div class="ui-ranger"></div>-->
                                     <!--</div>-->
                                 <!--</div>-->
                             <!--</div>-->
                             <!--<div class="calculator__item">-->
                                 <!--<div class="calculator__text"><span>ПЕРВОНАЧАЛЬНЫЙ ВЗНОС, ₽</span><span>20%</span></div>-->
                                 <!--<div class="calculator__input">-->
                                     <!--<input type="number" value="0" class="calculator__result"/>-->
                                     <!--<div class="calculator__ranger">-->
                                         <!--<div class="ui-ranger"></div>-->
                                     <!--</div>-->
                                 <!--</div>-->
                             <!--</div>-->
                             <!--<div class="calculator__item">-->
                                 <!--<div class="calculator__text"><span>СРОК КРЕДИТА, ЛЕТ</span></div>-->
                                 <!--<div class="calculator__input">-->
                                     <!--<input type="number" value="0" class="calculator__result"/>-->
                                     <!--<div class="calculator__ranger">-->
                                         <!--<div class="ui-ranger"></div>-->
                                     <!--</div>-->

                                 <!--</div>-->
                             <!--</div>-->
                         <!--</div>-->
                     <!--</div>-->
                     <!--<div class="calculator__banks">-->
                         <!--<div class="bank__title">-->
                             <!--<svg><use xlink:href="#percent"></use></svg>-->
                             <!--<span>Лучшее Предложение</span>-->
                         <!--</div>-->
                         <!--<div class="bank bank&#45;&#45;topbank">-->
                            <!--<div class="bank__logo">-->
                                <!--<img src="images/bank.png" alt="">-->
                            <!--</div>-->
                            <!--<div class="bank__info">-->
                                <!--<p><span>СТАВКА ОТ</span><b>8.7%</b></p>-->
                                <!--<p><span>ПЛАТЕЖ В МЕС.</span><b>141 104 ₽</b></p>-->
                                <!--<p><span>СРОК ДО</span><b>30 лет</b></p>-->
                            <!--</div>-->
                         <!--</div>-->
                         <!--<div class="bank">-->
                             <!--<div class="bank__logo">-->
                                 <!--<img src="images/bank.png" alt="">-->
                             <!--</div>-->
                             <!--<div class="bank__info">-->
                                 <!--<p><span>СТАВКА ОТ</span><b>8.7%</b></p>-->
                                 <!--<p><span>ПЛАТЕЖ В МЕС.</span><b>141 104 ₽</b></p>-->
                                 <!--<p><span>СРОК ДО</span><b>30 лет</b></p>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="bank">-->
                             <!--<div class="bank__logo">-->
                                 <!--<img src="images/bank.png" alt="">-->
                             <!--</div>-->
                             <!--<div class="bank__info">-->
                                 <!--<p><span>СТАВКА ОТ</span><b>8.7%</b></p>-->
                                 <!--<p><span>ПЛАТЕЖ В МЕС.</span><b>141 104 ₽</b></p>-->
                                 <!--<p><span>СРОК ДО</span><b>30 лет</b></p>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="bank">-->
                             <!--<div class="bank__logo">-->
                                 <!--<img src="images/bank.png" alt="">-->
                             <!--</div>-->
                             <!--<div class="bank__info">-->
                                 <!--<p><span>СТАВКА ОТ</span><b>8.7%</b></p>-->
                                 <!--<p><span>ПЛАТЕЖ В МЕС.</span><b>141 104 ₽</b></p>-->
                                 <!--<p><span>СРОК ДО</span><b>30 лет</b></p>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="bank">-->
                             <!--<div class="bank__logo">-->
                                 <!--<img src="images/bank.png" alt="">-->
                             <!--</div>-->
                             <!--<div class="bank__info">-->
                                 <!--<p><span>СТАВКА ОТ</span><b>8.7%</b></p>-->
                                 <!--<p><span>ПЛАТЕЖ В МЕС.</span><b>141 104 ₽</b></p>-->
                                 <!--<p><span>СРОК ДО</span><b>30 лет</b></p>-->
                             <!--</div>-->
                         <!--</div>-->
                     <!--</div>-->
                 <!--</div>-->
             <!--</div>-->
             <!--<div class="calculator__banner">-->
                 <!--<div class="calculator__decor">-->
                     <!--<img src="images/call.jpg" alt="">-->
                 <!--</div>-->
                 <!--<div class="wbox">-->
                     <!--<div class="calculator__row">-->
                         <!--<div class="calculator__bantext">-->
                             <!--<div class="calculator__title">-->
                                 <!--<h2>Рассрочка от ВТБ</h2>-->
                             <!--</div>-->
                             <!--<p><b>Беспроцентная рассрочка до двух лет от компании   Система Лизинг 24 (АО)</b> </p>-->
                             <!--<a href="#" class="btn btn&#45;&#45;big btn&#45;&#45;inverted">Уточнить условия рассрочки<i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i></a>-->
                         <!--</div>-->
                         <!--<div class="calculator__banimg">-->
                             <!--<img src="images/calr.jpg" alt="">-->
                         <!--</div>-->
                     <!--</div>-->
                 <!--</div>-->
             <!--</div>-->
         <!--</section>-->
        <div class="calculator">
            <div class="wbox">
                <div class="calculator__title"></div>
                <div id="root"  data-api-url="http://api.capitalgroup.ru/api/1.0.0/objects/capitaltowers/mortgage_terms/"></div>
            </div>
                <div class="calculator__banner">
                    <div class="calculator__decor">
                        <img src="images/call.jpg" alt="">
                    </div>
                    <div class="wbox">
                        <div class="calculator__row">
                            <div class="calculator__bantext">
                                <div class="calculator__title">
                                    <h2>Рассрочка от ВТБ</h2>
                                </div>
                                <p> Беспроцентная рассрочка до двух лет от компании   Система Лизинг 24 (АО) </p>
                                <a href="#learnmore"  data-fancybox class="btn btn--big btn--inverted">Уточнить условия рассрочки<i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i></a>
                            </div>
                            <div class="calculator__banimg">
                                <img src="images/calr.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

        </div>

        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside__white.html
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footertrue.html
    //= partials/footer.html
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="http://capitaltowers.ru/static/css/main.08949537.css" rel="stylesheet">
    <script type="text/javascript" src="http://capitaltowers.ru/static/js/main.93e44216.js"></script>
    <script>
        $( function() {
            $( ".ui-ranger" ).slider({

                slide: function (event, ui) {
                    $(ui.handle).closest('.calculator__input').find('.calculator__result').val(ui.value);
                }
            });
        } );
        Stickyfill.add($('.calculator__sticky'));
        $(document).ready(function () {
            $('.calculator__select').styler({selectSmartPositioning	:false});
        });
    </script>
</div>
</body>
</html>