//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">

    <div class="main">

        <section class="section section__contacts">
            <div class="contacts">
                <div class="contacts__info" style="background-image: url(images/cont.jpg);">
                    <div class="contacts__title">
                        <p>Главный офис <br>Capital Group </p>
                    </div>
                    <div class="contacts__bottom">
                        <div class="contacts__text">
                            <div class="contacts__item"><i><svg><use xlink:href="#pointer"></use></svg></i><span>123317 Москва, Пресненская наб., д. 8 стр. 1 ММДЦ «Москва-Сити», МФК «Город Столиц»</span></div>
                            <a href="tel:+7 (495) 721-38-33" class="contacts__item"><i><svg><use xlink:href="#phone"></use></svg></i><span>+7 (495) 721-38-33</span></a>
                            <a href="mailto:info@capitalgroupcorp.com" class="contacts__item"><i><svg><use xlink:href="#mail"></use></svg></i><span>info@capitalgroupcorp.com</span></a>
                            <div class="contacts__item"><i><svg><use xlink:href="#calendar"></use></svg></i><span> без выходных, с 9:00 до 21:00</span></div>
                        </div>
                    </div>
                </div>
                <div class="contacts__map" id="map"></div>
                <script>
                    var markers = [
                        {lat:55.748663, lng:37.545751, title:'Title Text', text: 'Test Text', url:'icon_1.svg', type:'1'},
                        {lat:55.749663, lng:37.546751, title:'Title Text', text: 'Test Text', url:'icon_2.svg', type:'2'},
                        {lat:55.747663, lng:37.547751, title:'Title Text', text: 'Test Text', url:'icon_3.svg', type:'3'},
                        {lat:55.746663, lng:37.558751, title:'Title Text', text: 'Test Text', url:'icon_4.svg', type:'4'},
                        {lat:55.745663, lng:37.564751, title:'Title Text', text: 'Test Text Test Text Test Textфваів фіва фівп фіап фарпавп вап вапва Test Text Test Text Test Textфваів фіва фівп фіап фарпавп вап вапва Test Text Test Text Test Textфваів фіва фівп фіап фарпавп вап вапва ', url:'icon_5.svg', type:'5'},
                        {lat:55.744663, lng:37.574751, title:'Title Text', text: 'Test Text', url:'icon_6.svg', type:'6'},
                        {lat:55.743663, lng:37.584751, title:'Title Text', text: 'Test Text', url:'icon_7.svg', type:'7'},
                        {lat:55.733663, lng:37.584751, title:'Title Text', text: 'Test Text', url:'icon_8.svg', type:'8'},
                        {lat:55.733663, lng:37.534751, title:'Title Text', text: 'Test Text', url:'pointer_1.svg', type:'main'},
                        {lat:55.733663, lng:37.544751, title:'Title Text', text: 'Test Text', url:'pointer_2.svg', type:'main'}
                    ];
                    var finalDestination = {lat:55.751625, lng:37.548649};
                    var zoomMap = 14;
                    var centerMap = {lat:55.751625, lng:37.548649};
                </script>
            </div>
        </section>
        <div class="callme">
           <div class="wbox">
               <div class="callme__row">
                   <div class="callme__title">
                       <h2>Мы расскажем вам больше</h2>
                   </div>
                   <div class="callme__buttons">
                       <a href="#learnmore"  data-fancybox class="btn btn--big btn--gray">Позвоните мне <i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i></a>
                       <label class="styled">
                           <input type="checkbox">
                           <i></i>
                           <span>Согласен быть в числе клиентов Capital Towers</span>
                       </label>
                   </div>
               </div>
           </div>
        </div>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside__white.html
                </div>
            </div>
        </div>
    </div>

    //= partials/hidden-block.html

    //= partials/footertrue.html

    //= partials/footer.html

</div>
</body>
</html>