//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">

    <div class="main">
        <div class="section__slider " style="overflow: hidden;">
            <section class="section">
                <div class="section__bg add-fog-on-mobile" style="background-image: url('images/creators_1scr_bg.jpg')"></div>
                <div class="section__text-wrap">
                    <div class="wbox">
                        <div class="section__text">
                            <h2>Создатели</h2>
                            <p>Каждый небоскрёб Capital Group покоряет недоступные прежде высоты. </p>
                            <br>
                            <p> В 2009 году мы построили «Город столиц» —
                                и сделали заоблачную жизнь прецедентом.
                                В 2015 году презентовали ОКО — и доказали,
                                что неодушевленные здания могут обладать эталонной харизмой и сильным характером. Сегодня мы строим Capital Towers, чтобы переписать нами же  придуманные правила совершенства.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="section__bg scuratov" style="background-image: url('images/create2.jpg')"></div>
                <div class="section__text-wrap">
                    <div class="wbox">
                        <div class="section__text">
                            <h2>Sergey Skuratov Architects</h2>
                            <p>Архитектор Сергей Скуратов прославился жилыми комплексами Copper House и «Дом на Мосфильмовской», ставшими событием в российской архитектуре.
                                Его арт-карьера началась в семь лет, когда он слепил полуметровый меч из цветного пластилина и был незамедлительно принят в художественную школу.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside.html
                </div>

            </div>
        </div>
    </div>

    //= partials/hidden-block.html
        //= partials/footertrue.html
    //= partials/footer.html

</div>
</body>
</html>