//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">
    <div class="main">
        <section class="calculator">
            <div class="wbox">
                <div class="calculator__title calculator__title--static">
                    <h2>Документы</h2>
                </div>
                <div class="document__wrap">
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                           <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                    <a href="#" class="document">
                        <div class="document__img">
                            <img src="images/docs.jpg" alt="">
                        </div>
                        <div class="document__name">
                            <span>Проектная декларация Краснопр.14 3 августа 2018 года</span>
                        </div>
                        <div class="document__size">
                            <span>(78.1 kb)</span>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside__white.html
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footertrue.html
    //= partials/footer.html
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( ".ui-ranger" ).slider({

                slide: function (event, ui) {
                    $(ui.handle).closest('.calculator__input').find('.calculator__result').text(ui.value);
                }
            });
        } );
        Stickyfill.add($('.calculator__sticky'));
        $(document).ready(function () {
            $('.calculator__select').styler({selectSmartPositioning	:false});
        });
    </script>
</div>
</body>
</html>