//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">

    <div class="main">
        <div class="section">
            <div class="gallery__mainslider">
                <div class="gallery__slider active">
                    <div class="gallery__one">
                        <div class="gallery__bg">
                            <img src="images/background.jpg" alt="" data-object-fit="cover">
                            <!--<div class="gallery__decor1"></div>-->
                            <!--<div class="gallery__decor2"></div>-->
                            <div class="gallery__simple-wrap">
                                <div class="gallery__simple-slider js-instance">
                                    <div class="gallery__slide">
                                        <img src="images/int1.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide">
                                        <img src="images/int2.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide">
                                        <img src="images/int3.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide">
                                        <img src="images/int4.jpg" alt="" data-object-fit="cover">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="gallery__paginator">
                        <div class="gallery__arrow gallery__arrow--prev"><svg><use xlink:href="#arrow"></use></svg></div>
                        <div class="gallery__pin active" data-slide="1">1</div>
                        <div class="gallery__pin " data-slide="2">2</div>
                        <div class="gallery__pin" data-slide="3">3</div>
                        <div class="gallery__pin" data-slide="4">4</div>
                        <div class="gallery__arrow gallery__arrow--next"><svg><use xlink:href="#arrow"></use></svg></div>
                    </div>
                </div>
                <div class="gallery__slider">
                    <div class="gallery__one">
                        <div class="gallery__bg">
                            <img src="images/background.jpg" alt="" data-object-fit="cover">
                            <!--<div class="gallery__decor3"></div>-->
                            <!--<div class="gallery__decor4"></div>-->
                            <div class="gallery__simple-wrap2">
                                <div class="gallery__simple-slider2 js-instance">
                                    <div class="gallery__slide2">
                                        <img src="images/int1.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide2">
                                        <img src="images/int2.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide2">
                                        <img src="images/int3.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide2">
                                        <img src="images/int4.jpg" alt="" data-object-fit="cover">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="gallery__paginator show-on-768">
                        <div class="gallery__arrow gallery__arrow--prev"><svg><use xlink:href="#arrow"></use></svg></div>
                        <div class="gallery__pin active" data-slide="1">1</div>
                        <div class="gallery__pin " data-slide="2">2</div>
                        <div class="gallery__pin" data-slide="3">3</div>
                        <div class="gallery__pin" data-slide="4">4</div>
                        <div class="gallery__arrow gallery__arrow--next"><svg><use xlink:href="#arrow"></use></svg></div>
                    </div>
                </div>
                <div class="gallery__slider">
                    <div class="gallery__one">
                        <div class="gallery__bg">
                            <img src="images/background.jpg" alt="" data-object-fit="cover">
                            <!--<div class="gallery__decor5"></div>-->
                            <!--<div class="gallery__decor6"></div>-->
                            <div class="gallery__simple-wrap3">
                                <div class="gallery__simple-slider3 js-instance">
                                    <div class="gallery__slide3">
                                        <img src="images/int1.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide3">
                                        <img src="images/int2.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide3">
                                        <img src="images/int3.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide3">
                                        <img src="images/int4.jpg" alt="" data-object-fit="cover">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="gallery__paginator">
                        <div class="gallery__arrow gallery__arrow--prev"><svg><use xlink:href="#arrow"></use></svg></div>
                        <div class="gallery__pin active" data-slide="1">1</div>
                        <div class="gallery__pin " data-slide="2">2</div>
                        <div class="gallery__pin" data-slide="3">3</div>
                        <div class="gallery__pin" data-slide="4">4</div>
                        <div class="gallery__arrow gallery__arrow--next"><svg><use xlink:href="#arrow"></use></svg></div>
                    </div>
                </div>
                <div class="gallery__slider">
                    <div class="gallery__one">
                        <div class="gallery__bg">
                            <img src="images/background.jpg" alt="" data-object-fit="cover">
                            <!--<div class="gallery__decor8"></div>-->
                            <div class="gallery__simple-wrap2">
                                <div class="gallery__simple-slider2 js-instance">
                                    <div class="gallery__slide2">
                                        <img src="images/int1.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide2">
                                        <img src="images/int2.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide2">
                                        <img src="images/int3.jpg" alt="" data-object-fit="cover">
                                    </div>
                                    <div class="gallery__slide2">
                                        <img src="images/int4.jpg" alt="" data-object-fit="cover">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="gallery__paginator">
                        <div class="gallery__arrow gallery__arrow--prev"><svg><use xlink:href="#arrow"></use></svg></div>
                        <div class="gallery__pin active" data-slide="1">1</div>
                        <div class="gallery__pin " data-slide="2">2</div>
                        <div class="gallery__pin" data-slide="3">3</div>
                        <div class="gallery__pin" data-slide="4">4</div>
                        <div class="gallery__arrow gallery__arrow--next"><svg><use xlink:href="#arrow"></use></svg></div>
                    </div>
                </div>
            </div>

            <div class="gallery__main">
                <div class="gallery__title">
                    <h2>Галерея </h2>
                </div>
                <div class="gallery__nav">
                    <div class="gallery__nav-wrap">
                        <div class="gallery__nav-pin active">Виды из окон</div>
                        <div class="gallery__nav-pin">Архитектура</div>
                        <div class="gallery__nav-pin">Интерьеры</div>
                        <div class="gallery__nav-pin">Парк</div>
                        <div class="gallery__nav-pin">Парк</div>
                        <div class="gallery__nav-pin">Парк</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside__white.html
                </div>
            </div>
        </div>
    </div>

    //= partials/hidden-block.html
        //= partials/footertrue.html
    //= partials/footer.html

</div>
</body>
</html>