//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">
    <div class="main">

        <section class="calculator flat-get">
            <div class="wbox">
                <div class="calculator__title">
                    <h1>Подобрать квартиру</h1>
                </div>
                <div class="calculator__row">
                    <div class="calculator__body">
                        <div class="calculator__sticky">
                            <div class="calculator__item">
                                <div class="calculator__text"><span>Башня</span></div>
                                <div class="calculator__input">
                                    <label class="styled--a">
                                        <input type="checkbox">
                                        <span>River Tower</span>
                                    </label>
                                    <label class="styled--a">
                                        <input type="checkbox">
                                        <span>City Tower</span>
                                    </label>
                                    <label class="styled--a">
                                        <input type="checkbox">
                                        <span>Park Tower</span>
                                    </label>
                                </div>
                            </div>
                            <div class="calculator__item">
                                <div class="calculator__text"><span>Этаж</span></div>
                                <div class="calculator__input">
                                    <p class="calculator__result">
                                        <input value="1"> - <input value="62">
                                    </p>
                                    <div class="calculator__ranger">
                                        <div class="ui-ranger" data-min="1" data-max="62" data-values="[1, 62]"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="calculator__item">
                                <div class="calculator__text"><span>Количество комнат</span></div>
                                <div class="calculator__input">
                                    <label class="styled--a">
                                        <input type="checkbox">
                                        <span>1</span>
                                    </label>
                                    <label class="styled--a">
                                        <input type="checkbox">
                                        <span>2</span>
                                    </label>
                                    <label class="styled--a">
                                        <input type="checkbox">
                                        <span>3</span>
                                    </label>
                                    <label class="styled--a">
                                        <input type="checkbox">
                                        <span>4</span>
                                    </label>
                                    <label class="styled--a">
                                        <input type="checkbox">
                                        <span>5</span>
                                    </label>
                                </div>
                            </div>
                            <div class="calculator__item">
                                <div class="calculator__text"><span>площадь квартиры, м<sup>2</sup></span></div>
                                <div class="calculator__input">
                                    <p class="calculator__result">
                                        <input value="1"> - <input value="62">
                                    </p>
                                    <div class="calculator__ranger">
                                        <div class="ui-ranger" data-min="1" data-max="62" data-values="[1, 62]"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="calculator__item">
                                <div class="calculator__text"><span>СТОИМОСТЬ КВАРТИРЫ, ₽</span></div>
                                <div class="calculator__input">
                                    <p class="calculator__result">
                                        <input value="1"> - <input value="62">
                                    </p>
                                    <div class="calculator__ranger">
                                        <div class="ui-ranger" data-min="1" data-max="62" data-values="[1, 62]"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="calculator__item">
                                <button class="btn btn--big btn--inverted">Подобрать</button>
                            </div>
                        </div>
                    </div>
                    <div class="calculator__banks">
                        <div class="calculator__flat calculator__flat--initial">
                            <div class="calculator__flat-row">
                                <div class="calculator__flat-number"> <strong>№</strong> </div>
                                <div class="calculator__flat-tower"> <strong>Башня</strong> </div>
                                <div class="calculator__flat-floor"> <strong>Этаж</strong> </div>
                                <div class="calculator__flat-flats"> <strong>комнат</strong> </div>
                                <div class="calculator__flat-square"><strong>Площадь</strong></div>
                                <div class="calculator__flat-price"><strong>Цена</strong></div>
                                <div  class="calculator__flat-href"></div>
                            </div>
                        </div>
                        <div class="calculator__flat">
                            <div class="calculator__flat-row" data-dropdown-btn="12">
                                <div class="calculator__flat-number">
                                    <strong>№</strong>
                                    <p><b>9.01</b></p>
                                </div>
                                <div class="calculator__flat-tower">
                                    <strong>Башня</strong>
                                    <p>City Tower</p>
                                </div>
                                <div class="calculator__flat-floor">
                                    <strong>Этаж</strong>
                                    <p>43</p>
                                </div>
                                <div class="calculator__flat-flats">
                                    <strong>комнат</strong>
                                    <p>3</p>
                                </div>
                                <div class="calculator__flat-square">
                                    <strong>Площадь</strong>
                                    <p>120м²</p>
                                </div>
                                <div class="calculator__flat-price">
                                    <strong>Цена</strong>
                                    <p>160 000 000 ₽</p>
                                </div>
                                <a href="#" class="calculator__flat-href">
                                    <svg><use xlink:href="#arrow"></use></svg>
                                </a>
                            </div>
                            <div class="calculator__flat-dropdown" data-dropdown-box="12">
                                <div class="calculator__flat-plan">
                                    <a href="#"><img src="images/flatplan.jpg" alt=""></a>
                                </div>
                                <div class="calculator__flat-views">
                                    <a href="images/home51.jpg" data-fancybox="gal12"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal12"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal12" class="disabled"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal12" class="disabled"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal12" class="disabled"><img src="images/home51.jpg" alt=""></a>
                                </div>
                                <a href="#" class="calculator__podrobnee btn">Подробнее</a>
                            </div>

                        </div>
                        <div class="calculator__flat">
                            <div class="calculator__flat-row" data-dropdown-btn="27">
                                <div class="calculator__flat-number">
                                    <strong>№</strong>
                                    <p><b>9.01</b></p>
                                </div>
                                <div class="calculator__flat-tower">
                                    <strong>Башня</strong>
                                    <p>City Tower</p>
                                </div>
                                <div class="calculator__flat-floor">
                                    <strong>Этаж</strong>
                                    <p>43</p>
                                </div>
                                <div class="calculator__flat-flats">
                                    <strong>комнат</strong>
                                    <p>3</p>
                                </div>
                                <div class="calculator__flat-square">
                                    <strong>Площадь</strong>
                                    <p>120м²</p>
                                </div>
                                <div class="calculator__flat-price">
                                    <strong>Цена</strong>
                                    <p>160 000 000 ₽</p>
                                </div>
                                <a href="#" class="calculator__flat-href">
                                    <svg><use xlink:href="#arrow"></use></svg>
                                </a>
                            </div>
                            <div class="calculator__flat-dropdown" data-dropdown-box="27">
                                <div class="calculator__flat-plan">
                                    <a href="#"><img src="images/rt_4_16_1.svg" alt=""></a>
                                </div>
                                <div class="calculator__flat-views">
                                    <a href="images/home51.jpg" data-fancybox="gal27"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal27"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal27" class="disabled"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal27" class="disabled"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal27" class="disabled"><img src="images/home51.jpg" alt=""></a>
                                </div>
                                <a href="#" class="calculator__podrobnee btn">Подробнее</a>
                            </div>

                        </div>
                        <div class="calculator__flat">
                            <div class="calculator__flat-row" data-dropdown-btn="17">
                                <div class="calculator__flat-number">
                                    <strong>№</strong>
                                    <p><b>9.01</b></p>
                                </div>
                                <div class="calculator__flat-tower">
                                    <strong>Башня</strong>
                                    <p>City Tower</p>
                                </div>
                                <div class="calculator__flat-floor">
                                    <strong>Этаж</strong>
                                    <p>43</p>
                                </div>
                                <div class="calculator__flat-flats">
                                    <strong>комнат</strong>
                                    <p>3</p>
                                </div>
                                <div class="calculator__flat-square">
                                    <strong>Площадь</strong>
                                    <p>120м²</p>
                                </div>
                                <div class="calculator__flat-price">
                                    <strong>Цена</strong>
                                    <p>160 000 000 ₽</p>
                                </div>
                                <a href="#" class="calculator__flat-href">
                                    <svg><use xlink:href="#arrow"></use></svg>
                                </a>
                            </div>
                            <div class="calculator__flat-dropdown" data-dropdown-box="17">
                                <div class="calculator__flat-plan">
                                    <a href="#"><img src="images/flatplan.jpg" alt=""></a>
                                </div>
                                <div class="calculator__flat-views">
                                    <a href="images/home51.jpg" data-fancybox="gal17"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal17"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal17" class="disabled"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal17" class="disabled"><img src="images/home51.jpg" alt=""></a>
                                    <a href="images/home51.jpg" data-fancybox="gal17" class="disabled"><img src="images/home51.jpg" alt=""></a>
                                </div>
                                <a href="#" class="calculator__podrobnee btn">Подробнее</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>



        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside__white.html
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footertrue.html
    //= partials/footer.html
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            var sliders = $( ".ui-ranger" );
            sliders.each(function () {
                $(this).slider({
                    range:true,
                    min: $(this).data('min'),
                    max: $(this).data('max'),
                    values: $(this).data('values'),
                    slide: function (event, ui) {
                        $(ui.handle).closest('.calculator__input').find('.calculator__result input').eq(0).val(ui.values[0]);
                        $(ui.handle).closest('.calculator__input').find('.calculator__result input').eq(1).val(ui.values[1]);
                    }
                });
            });

        } );
        Stickyfill.add($('.calculator__sticky'));
        $(document).ready(function () {
            $('.calculator__select').styler({selectSmartPositioning	:false});
        });
    </script>
</div>
</body>
</html>