//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">
    <div class="main">
        <ul>
            <li><a href="home.html">Главная</a></li>
            <li><a href="main.html" class="active">О проекте</a></li>
            <li><a href="views.html">Виды</a></li>
            <li><a href="plan.html">Планировки</a></li>
            <li><a href="planinner.html">Планировки этаж</a></li>
            <li><a href="news-inner.html">новость</a></li>
            <li><a href="news.html">новости список</a></li>
            <li><a href="404.html">404</a></li>
            <li><a href="calc.html">условия</a></li>
            <li><a href="create.html">создатели</a></li>
            <li><a href="contacts.html">контакты</a></li>
            <li><a href="docs.html">документы</a></li>
            <li><a href="interiors.html">интерьеры</a></li>
            <li><a href="map.html">окресности</a></li>
            <li><a href="gallery.html">галерея</a></li>
            <li><a href="timeline.html">таймлайн</a></li>
            <li><a href="get-flat.html">Подобрать квартиру</a></li>
        </ul>
        <div class="title">
            <h2>попап</h2>
        </div>


        <ul>
            <li><a href="#learnmore"  data-fancybox >popup1</a></li>
            <li><a href="#learnmore2"  data-fancybox >popup2</a></li>

        </ul>
        <div class="title">
            <h2>содержимое спрайта</h2>
        </div>
        <div class="svg-container"></div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    <style>

        .svg-container{display: flex;justify-content: space-between; align-items: flex-start; flex-wrap: wrap;border: 1px solid #0f0f11;}
        .svg-container div{width: 200px; padding: 10px; border: 1px solid #0f0f11; flex-grow: 1;}
        .svg-container svg{width: 100%;}
    </style>
    <script>
        $(document).ready(function(){
            $('body>svg symbol').each(function(){
                var id = $(this).attr('id');
                var div = document.createElement('div');
                $(div).html('<svg><use xlink:href="#'+id+'"></use></svg><p>#'+id+'</p>');
                $('.svg-container').append(div);
            });
        });
    </script>
</div>
</body>
</html>