//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">

    <div class="main">
        <div class="section">
            <div class="interior__selector-wrap">
                <h2>Интерьеры</h2>
                <div class="interior__selector">
                    <button class="interior__arrow interior__arrow--left"></button>
                    <div class="interior__selected">
                        <div class="interior__selected--a active">Минимализм</div>
                        <div class="interior__selected--b">Модерн</div>
                    </div>
                    <button class="interior__arrow interior__arrow--right"></button>
                </div>
                <div class="interior__seltext">
                    <div class="interior__seltext-a active">
                        <p>«Меньше — значит больше». Архитектура минимализма подчеркивает красоту структуры, избегает декора и украшательства. Особое предпочтение отдается простым геометрическим формам, ясным объемам и натуральным материалам. </p>
                    </div>
                    <div class="interior__seltext-b">
                        <p>В стиле используют умеренно приглушенные тона и неяркие краски. Популярны сиреневые, серо – голубые, и табачные цвета. Мебель в модерне респектабельная и добротная, из натурального дерева с изысканным декором из бронзы. </p>
                    </div>
                </div>
            </div>

            <div class="interior">
                <div class="interior__mouse js-x-dragabble">
                    <svg><use xlink:href="#mouse"></use></svg>
                </div>
                <div class="interior__a active">
                    <div class="interior__bg">
                        <img src="images/ia.jpg" alt="" data-object-fit="cover">
                    </div>
                    <div class="interior__text-a">
                        <div class="interior__text">
                            <h3>Минимализм</h3>
                            <p>«Меньше — значит больше». Архитектура минимализма подчеркивает красоту структуры, избегает декора и украшательства. Особое предпочтение отдается простым геометрическим формам, ясным объемам и натуральным материалам. </p>
                        </div>
                    </div>
                </div>
                <div class="interior__b">
                    <div class="interior__bg">
                        <img src="images/ib.jpg" alt="" data-object-fit="cover">
                    </div>
                    <div class="interior__text-b">
                        <div class="interior__text">
                            <h3>Модерн</h3>
                            <p>В стиле используют умеренно приглушенные тона и неяркие краски. Популярны сиреневые, серо – голубые, и табачные цвета. Мебель в модерне респектабельная и добротная, из натурального дерева с изысканным декором из бронзы. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__text-wrap alwaysabs">
                <div class="wbox">
                    <div class="section__text">
                        <h2>Интерьеры</h2>
                    </div>

                </div>
            </div>
            <div class="disclaimer">test test test test testtesttesttest v v test vtest vtesttest testtest testtesttestv</div>
        </div>
        <div class="callme">
            <div class="wbox">
                <div class="callme__row">
                    <div class="callme__title">
                        <h2>Мы расскажем вам больше</h2>
                    </div>
                    <div class="callme__buttons">
                        <a href="#learnmore"  data-fancybox class="btn btn--big btn--gray">Позвоните мне<i><svg class="icon-arrow"><use xlink:href="#arrow"></use></svg></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside.html
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footertrue.html
    //= partials/footer.html
    <style>
        *{user-select: none;}
    </style>

</div>
</body>
</html>