//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">
    <div class="main">
        <section class="lastsection js-aside-height-checker section--map maper__page">
            //= partials/map.html
        </section>
        <div class="maper__abs">
            <div class="wbox">
                <h2>Окрестности</h2>
            </div>
        </div>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside__white.html
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footertrue.html
    //= partials/footer.html
</div>
</body>
</html>