//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">
    <div class="main">
        <section class="newslist">
            <div class="wbox">
                <div class="newslist__title">
                    <h2>Новости</h2>
                    <div class="newslist__filter">
                        <label class="newslist__tag">
                            <input type="checkbox" checked="checked" class="all">
                            <p>
                                <span>ВСЕ</span>
                                <svg><use xlink:href="#cross"></use></svg>
                            </p>
                        </label>
                        <label class="newslist__tag">
                            <input type="checkbox">
                            <p>
                                <span>2016</span>
                                <svg><use xlink:href="#cross"></use></svg>
                            </p>
                        </label>
                        <label class="newslist__tag">
                            <input type="checkbox">
                            <p>
                                <span>2017</span>
                                <svg><use xlink:href="#cross"></use></svg>
                            </p>
                        </label>
                        <label class="newslist__tag">
                            <input type="checkbox">
                            <p>
                                <span>2018</span>
                                <svg><use xlink:href="#cross"></use></svg>
                            </p>
                        </label>
                    </div>
                </div>
                <div class="newslist__wrap">
                    <div class="newslist__decor">
                        <a href="news-inner.html" class="newslist__item" style="background-image:url(images/testts.jpg);">
                            <div class="newslist__slider">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>
                            <div class="newslist__data"> <span>21 Сентября 2018</span>   </div>
                            <div class="newslist__hidden">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>

                        </a>
                    </div>
                    <div class="newslist__decor newslist__decor--type1">
                        <a href="news-inner.html" class="newslist__item" style="background-image:url(images/testts.jpg);">
                            <div class="newslist__slider">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>
                            <div class="newslist__data"> <span>21 Сентября 2018</span>   </div>
                            <div class="newslist__hidden">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>

                        </a>
                    </div>
                    <div class="newslist__decor newslist__decor--type2">
                        <a href="news-inner.html" class="newslist__item" style="background-image:url(images/testts.jpg);">
                            <div class="newslist__slider">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>
                            <div class="newslist__data"> <span>21 Сентября 2018</span>   </div>
                            <div class="newslist__hidden">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>

                        </a>
                    </div>
                    <div class="newslist__decor newslist__decor--type3">
                        <a href="news-inner.html" class="newslist__item" style="background-image:url(images/testts.jpg);">
                            <div class="newslist__slider">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>
                            <div class="newslist__data"> <span>21 Сентября 2018</span>   </div>
                            <div class="newslist__hidden">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>

                        </a>
                    </div>
                    <div class="newslist__decor newslist__decor--type4">
                        <a href="news-inner.html" class="newslist__item" style="background-image:url(images/testts.jpg);">
                            <div class="newslist__slider">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>
                            <div class="newslist__data"> <span>21 Сентября 2018</span>   </div>
                            <div class="newslist__hidden">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>

                        </a>
                    </div>
                    <div class="newslist__decor newslist__decor--type5">
                        <a href="news-inner.html" class="newslist__item" style="background-image:url(images/testts.jpg);">
                            <div class="newslist__slider">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>
                            <div class="newslist__data"> <span>21 Сентября 2018</span>   </div>
                            <div class="newslist__hidden">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>

                        </a>
                    </div>
                    <div class="newslist__decor newslist__decor--type6">
                        <a href="news-inner.html" class="newslist__item" style="background-image:url(images/testts.jpg);">
                            <div class="newslist__slider">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>
                            <div class="newslist__data"> <span>21 Сентября 2018</span>   </div>
                            <div class="newslist__hidden">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>

                        </a>
                    </div>
                    <div class="newslist__decor newslist__decor--type7">
                        <a href="news-inner.html" class="newslist__item" style="background-image:url(images/testts.jpg);">
                            <div class="newslist__slider">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>
                            <div class="newslist__data"> <span>21 Сентября 2018</span>   </div>
                            <div class="newslist__hidden">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>

                        </a>
                    </div>
                    <div class="newslist__decor newslist__decor--type8">
                        <a href="news-inner.html" class="newslist__item" style="background-image:url(images/testts.jpg);">
                            <div class="newslist__slider">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>
                            <div class="newslist__data"> <span>21 Сентября 2018</span>   </div>
                            <div class="newslist__hidden">
                                <h5>Беспроцентная рассрочка на квартиры в премиальном комплексе небоскребов Capital Towers</h5>
                                <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers
                                    Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                            </div>

                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside__white.html
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footertrue.html
    //= partials/footer.html

</div>
</body>
</html>