//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">
    <div class="main">
        <section class="section section__newsinner">
            <div class="newsinner__banner add-fog-on-mobile" style="background-image:url(images/bgqq.jpg);">
                    <div class="wbox">
                        <div class="newsinner__heading">
                            <h2>Беспроцентная рассрочка на квартиры  в премиальном комплексе небоскребов Capital Towers</h2>
                            <p>Рады сообщить о возможности приобретения квартиры по программе беспроцентной рассрочки от Системы Лизинг 24 (АО) в проекте Capital Towers</p>
                        </div>
                    </div>
                    <div class="wbox">
                        <div class="newsinner__date">
                            <b>21</b>
                            <span>СЕН</span>
                        </div>
                    </div>
            </div>
        </section>
        <section class="newsinner__wrap js-aside-height-checker">
            <div class="wbox">
                <div class="newsinner__row">
                    <div class="newsinner__col">
                        <div class="newsinner__text">
                            <br>
                            <br>
                            <br>
                            <br>
                            <p>Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных <a href="#">условиях</a>.</p>
                            <br>
                            <p>Как отметили в отделе продаж, «благодаря программе от Системы Лизинг 24 (АО) при первоначальном взносе от 35% стоимости договора на квартиру можно воспользоваться правом на рассрочку. Максимально возможный срок рассрочки устанавливается индивидуально и ограничивается сроком сдачи объекта в эксплуатацию (за минусом 2-х календарных месяцев). Для оформления заявки н
                                а приобретение квартиры по программе рассрочки необходим минимальный пакет документов – паспорт и заполненная анкета. Решение по заявке составит всего за 1-2 рабочих дня».</p>
                            <br>
                            <p>Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условиях.</p>
                        </div>
                    </div>
                    <div class="newsinner__col">
                        <img src="images/testts.jpg" data-object-fit="cover" alt="">
                    </div>
                </div>
                <div class="newsinner__row newsinner__row--reverse">
                    <div class="newsinner__col">
                        <div class="newsinner__text newsinner__text--right">
                            <p>Отмеченный независимыми аналитиками лот –
                                это изысканный пентхаус площадью 291 кв. м на 62-м этаже высокотехнологичных жилых небоскребов с собственным приватным парком более 1 га. </p>
                            <br>
                            <p><b>Лот впечатляет панорамными видами на 3 стороны света и современной дизайнерской отделкой.</b></p>
                            <br>
                            <p>Уже сейчас вы можете стать владельцем квартиры в современном комплексе небоскребов на Краснопресненской набережной на привлекательных условия</p>
                        </div>
                    </div>
                    <div class="newsinner__col">
                        <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="newsinner__video">
                            <img src="images/vidd.jpg" alt="">
                            <h6>Capital Towers Видеотур
                                <p>Уже сейчас вы можете стать владельцем квартиры в современном комплексе</p>
                            </h6>

                        </a>
                    </div>
                </div>
                <div class="newsinner__row">
                    <div class="newsinner__col">
                        <div class="newsinner__text">
                            <p>Эксперты профессионального сообщества оценили ключевые премиальные и элитные новостройки Москвы
                                и составили независимый обзор.</p>
                            <br>
                            <p><b>Единственным проектом высотного строительства
                                в обзоре стал премиальный комплекс небоскребов
                                Capital Towers, возведение которого осуществляется
                                на Краснопресненской набережной.</b></p>
                            <br>
                            <p>Среди главных достоинств проекта эксперты назвали впечатляющие видовые характеристики – к обзору будущих резидентов будут доступны панорамные виды
                                на знаковые места столицы, Москва-реку и парк «Красная Пресня», использование высоких технологий, направленных на создание максимально комфортной среды для жизни, а также развитую инфраструктуру с собственными торговыми галереями, рестораном, фитнес-центром, детским центром и приватным парком </p>
                        </div>
                    </div>
                    <div class="newsinner__col">
                        <div class="newsinner__decor">
                            <img src="images/test2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="newsinner__row newsinner__row--reverse">
                    <div class="newsinner__col">
                        <div class="newsinner__text newsinner__text--right">
                            <p><b>Уже сейчас вы можете стать владельцем квартиры
                                в современном комплексе небоскребов
                                на Краснопресненской набережной
                                на привлекательных условиях.</b></p>
                            <br>
                            <p>Как отметили в отделе продаж, «благодаря программе
                                от Системы Лизинг 24 (АО) при первоначальном взносе
                                от 35% стоимости договора на квартиру можно воспользоваться правом на рассрочку. Максимально возможный срок рассрочки устанавливается индивидуально и ограничивается сроком сдачи объекта в эксплуатацию
                                (за минусом 2-х календарных месяцев).</p>
                        </div>
                    </div>
                    <div class="newsinner__col">
                        <img src="images/test3.jpg" alt="">
                    </div>
                </div>
            </div>

        </section>
       <div class="stickey">
           <div class="stickey__wrap">
               <div class="stickey__a">
                   //= partials/aside.html
               </div>
               <div class="stickey__b">
                   //= partials/aside__white.html
               </div>
           </div>
       </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footertrue.html
    //= partials/footer.html

</div>
</body>
</html>