//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">

    <div class="main">
        <section class="section--planes">
              <div class="planner__nomodal">


                   <div class="planner__section__text">
                      <h2>Выберете <br>  башню </h2>
                       <p>Нажмите на выделенный цветом этаж чтобы увидеть готовые к покупке квартиры</p>
                       <br><br>
                       <a href="get-flat.html" class="btn btn--big">Выбрать квартиру</a>

                   </div>
                    <svg   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  viewBox="0 0 1920 960"  preserveAspectRatio="none" width="1920" height="960"  >
                                <style type="text/css">
                                       .floortoplan{opacity:0.2;fill:#d48069; cursor: pointer; transition: opacity 300ms;}
                                       .show .floortoplan{opacity:0.6;}
                                       .stro1{stroke-dashoffset: 405;  stroke-dasharray: 404; }
                                       .stro1.stro1--2{stroke-dashoffset: 505;  stroke-dasharray: 504; }
                                       .stro1.stro1--3{stroke-dashoffset: 705;  stroke-dasharray: 704; }
                                       .stro2{  stroke-dashoffset: 416;  stroke-dasharray: 415;}
                                       .stro2.stro2--2{  stroke-dashoffset: 516;  stroke-dasharray: 515;}
                                       .stro2.stro2--3{  stroke-dashoffset: 716;  stroke-dasharray: 715;}
                                       .strotext{opacity: 0; pointer-events: none; }
                                       .show .stro1{stroke-dashoffset:0;  transition: all 800ms; }
                                       .show .stro2{stroke-dashoffset:0; transition: all 800ms; }
                                       .show .strotext{opacity: 1; transition: opacity 200ms; transition-delay: 500ms;}
                                </style>
                                <image style="overflow:visible;" width="1920" height="960" xlink:href="images/herobgg.jpg">
                                </image>
                                <g> <rect data-tower="3" x="1065" y="56" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж " data-text-flat="127 квартир в продаже  "   width="147" height="13"/></g>
                                <g> <rect data-tower="3" x="1065" y="70.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="42 этаж" data-text-flat="127 квартир в продаже"   width="147" height="14.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="86" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43" data-text-flat="127 квартир в продаже"   width="147" height="13"/></g>
                                <g> <rect data-tower="3" x="1065" y="100" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="14"/></g>
                                <g> <rect data-tower="3" x="1065" y="127.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="141.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="155" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="14.1"/></g>
                                <g> <rect data-tower="3" x="1065" y="170" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="13"/></g>
                                <g> <rect data-tower="3" x="1065" y="184" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 кварт продаже"   width="147" height="12.1"/></g>
                                <g> <rect data-tower="3" x="1065" y="197.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12"/></g>
                                <g> <rect data-tower="3" x="1065" y="210.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11"/></g>
                                <g> <rect data-tower="3" x="1065" y="221.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12.2"/></g>
                                <g> <rect data-tower="3" x="1065" y="235" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="463 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12.1"/></g>
                                <g> <rect data-tower="3" x="1065" y="248" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="45 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12.1"/></g>
                                <g> <rect data-tower="3" x="1065" y="261" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="44 этаж" data-text-flat="127   продаже"   width="147" height="11.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="286" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="41 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="299" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11"/></g>
                                <g> <rect data-tower="3" x="1065" y="311" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квар одаже"   width="147" height="12"/></g>
                                <g> <rect data-tower="3" x="1065" y="324.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12"/></g>
                                <g> <rect data-tower="3" x="1065" y="337" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12"/></g>
                                <g> <rect data-tower="3" x="1065" y="350" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11"/></g>
                                <g> <rect data-tower="3" x="1065" y="361.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12.1"/></g>
                                <g> <rect data-tower="3" x="1065" y="375" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11"/></g>
                                <g> <rect data-tower="3" x="1065" y="387" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="19"/></g>
                                <g> <rect data-tower="3" x="1065" y="420" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="17"/></g>
                                <g> <rect data-tower="3" x="1065" y="438" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="451" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="464" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="476.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.1"/></g>
                                <g> <rect data-tower="3" x="1065" y="489.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="502.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="515" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="528" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.1"/></g>
                                <g> <rect data-tower="3" x="1065" y="540" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12"/></g>
                                <g> <rect data-tower="3" x="1065" y="553" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12"/></g>
                                <g> <rect data-tower="3" x="1065" y="566" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.1"/></g>
                                <g> <rect data-tower="3" x="1065" y="578" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12"/></g>
                                <g> <rect data-tower="3" x="1065" y="591" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12"/></g>
                                <g> <rect data-tower="3" x="1065" y="604" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12"/></g>
                                <g> <rect data-tower="3" x="1065" y="617" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.1"/></g>
                                <g> <rect data-tower="3" x="1065" y="629" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12"/></g>
                                <g> <rect data-tower="3" x="1065" y="642" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="8.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="652.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="665.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="12.9"/></g>
                                <g> <rect data-tower="3" x="1065" y="679" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="147" height="11.1"/></g>
                                <g> <rect data-tower="2" x="912" y="382" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="9"/></g>
                                <g> <rect data-tower="2" x="912" y="392" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="403" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="415" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="426" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="437" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11.1"/></g>
                                <g> <rect data-tower="2" x="912" y="449" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="460" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="472" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="483" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="495" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="506" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="518" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="529.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="540" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="552" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="563" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="573.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="586" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="613" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="6"/></g>
                                <g> <rect data-tower="2" x="912" y="620" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="631" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11.1"/></g>
                                <g> <rect data-tower="2" x="912" y="643" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="654" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="665.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="677" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="687.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="698.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="710" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="721" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="732" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="743" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="753.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="765" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="9.1"/></g>
                                <g> <rect data-tower="2" x="912" y="775.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="786" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="796.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="808" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="819" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="12"/></g>
                                <g> <rect data-tower="2" x="912" y="832" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="844.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="14.8"/></g>
                                <g> <rect data-tower="2" x="912" y="162" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.8"/></g>
                                <g> <rect data-tower="2" x="912" y="173.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.8"/></g>
                                <g> <rect data-tower="2" x="912" y="186.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.8"/></g>
                                <g> <rect data-tower="2" x="912" y="198" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.8"/></g>
                                <g> <rect data-tower="2" x="912" y="210" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="221" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="232.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.8"/></g>
                                <g> <rect data-tower="2" x="912" y="244" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="267" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="278" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="289" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="300.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.1"/></g>
                                <g> <rect data-tower="2" x="912" y="312" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="324" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="335" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10"/></g>
                                <g> <rect data-tower="2" x="912" y="346" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="358" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11.1"/></g>
                                <g> <rect data-tower="2" x="912" y="255" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11"/></g>
                                <g> <rect data-tower="2" x="912" y="123.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="10.8"/></g>
                                <g> <rect data-tower="2" x="912" y="135" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="101" height="11.9"/></g>
                                <g> <rect data-tower="1" x="660" y="404" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="416.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="428.7" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="440.8" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="453.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.5"/></g>
                                <g> <rect data-tower="1" x="660" y="465" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.1"/></g>
                                <g> <rect data-tower="1" x="660" y="476.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.1"/></g>
                                <g> <rect data-tower="1" x="660" y="488.3" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="500.3" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="525" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="537.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="549.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="561.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="573.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="585.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="597.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="609.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="621.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="657.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="644.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="11.1"/></g>
                                <g> <rect data-tower="1" x="660" y="669.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="681.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10"/></g>
                                <g> <rect data-tower="1" x="660" y="692.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="659.8" y="704.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.5"/></g>
                                <g> <rect data-tower="1" x="660" y="715.7" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.1"/></g>
                                <g> <rect data-tower="1" x="660" y="726.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.1"/></g>
                                <g> <rect data-tower="1" x="660" y="738.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.7"/></g>
                                <g> <rect data-tower="1" x="660" y="750" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="9.9"/></g>
                                <g> <rect data-tower="1" x="660" y="761.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="773.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="785.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="9.9"/></g>
                                <g> <rect data-tower="1" x="660" y="796.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/></g>
                                <g> <rect data-tower="1" x="660" y="808" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10"/></g>
                                <g> <rect data-tower="1" x="660" y="818.9" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="13"/></g>
                                <g> <rect data-tower="1" x="686.9" y="833.2" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="130.1" height="15.7"/></g>
                                <g> <rect data-tower="1" x="686.9" y="850.1" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="130.1" height="9.7"/></g>
                                <g> <rect data-tower="1" x="686.9" y="861" class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="130.1" height="11.1"/></g>
                                <g> <rect data-tower="1" x="660" y="512.6"  class="floortoplan" data-text-tower="Башня River Tower" data-text-floor="43 этаж" data-text-flat="127 квартир в продаже"   width="157" height="10.8"/> </g>
                         </svg>
              </div>
             <div class="planner__modal">
               <div class="planner__modal--towerselector">
                      <h5>Выберите здание</h5>
                      <div class="planner__selector2">
                             <label><input type="radio" checked name="tower"><span>Park Tower</span><i>127 квартир в продаже</i></label>
                             <label><input type="radio" name="tower"><span>City Tower</span><i>127 квартир в продаже</i></label>
                             <label><input type="radio" name="tower"><span>River Tower</span><i>127 квартир в продаже</i></label>
                      </div>
               </div>
               <div class="planner__mobfloor">
                      <div class="mobfloor__title">
                        <h5>Выберите этаж</h5>
                      </div>
                      <div class="mobfloor__wrap">
                             <div class="mobfloor">
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                                    <label><input type="radio" name="sadasdq1"><span>22 <i>этаж</i></span></label>
                             </div>
                      </div>
                      <a href="planinner.html" class="btn btn--gray">Далее</a>


               </div>
                 <div class="planner__btn--fck">
                     <a href="get-flat.html" class="btn btn--gray ">Подобрать квартиру</a>
                 </div>

            </div>
        </section>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside.html
                </div>
                <div class="stickey__b">
                    //= partials/aside__white.html
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footertrue.html
    //= partials/footer.html
</div>
<script>
    function makeSVGElement(tag, attrs) {
        var el = document.createElementNS('http://www.w3.org/2000/svg', tag);
        for (var k in attrs) {
            el.setAttribute(k, attrs[k]);
        }
        return el;
    }
    function rewriteSVG() {
        var set = $('.floortoplan');
        var params = {
            horizontal: 140,
            vertical: 78,
            quad: 8,
            lineheight: 25,
            textoffset:20
        };
        for(var i = 0; i < set.length; i++){
            var tower = parseInt($(set[i]).attr('data-tower'));
            if(tower === 2){
                params.horizontal = 260;
            }else if(tower === 3){
                params.horizontal = 420;
            }else{
                params.horizontal = 10;
            }
            var g = $(set[i]).closest('g')[0];
            var x = parseFloat($(set[i]).attr('x'));
            var y = parseFloat($(set[i]).attr('y'));
            var width = parseFloat($(set[i]).attr('width'));
            var height = parseFloat($(set[i]).attr('height'));
            var topPoint, stro1,stro2, xtext, ytext;
            var text = makeSVGElement('text' , {fill:'#fff', 'class':'strotext'});
            var titlesvg = makeSVGElement('tspan', {'text-anchor':tower === 23?'start': 'end','class':'titlesvg'});
            var textsvg1 = makeSVGElement('tspan', {'text-anchor':tower === 23?'start': 'end','class':'textsvg'});
            var textsvg2 = makeSVGElement('tspan', {'text-anchor':tower === 23?'start': 'end','class':'textsvg'});
            titlesvg.textContent = $(set[i]).attr('data-text-tower');
            textsvg1.textContent = $(set[i]).attr('data-text-floor');
            textsvg2.textContent = $(set[i]).attr('data-text-flat');
            text.appendChild(titlesvg);
            text.appendChild(textsvg1);
            text.appendChild(textsvg2);
            g.appendChild(text);

            xtext = (x - params.horizontal  - params.textoffset);
            if(y  > (params.vertical + params.quad ) + 60){
                ytext = (y - params.vertical + params.textoffset);
                topPoint = (x - params.horizontal)+' '+(y + height/2 - params.vertical - params.quad);
                stro1 = makeSVGElement('path', { d:'M '+( x + width )+' '+( y + height )+ ' L '+x+' '+( y + height )+ ' L '+x+' '+( y + height/2 )+ ' L '+(x - params.horizontal)+' '+( y + height/2 )+' L '+(x - params.horizontal)+' '+(y + height/2 - params.vertical)+' L '+(x - params.horizontal - params.quad/2)+' '+(y + height/2 - params.vertical)+' L '+(x - params.horizontal - params.quad/2)+' '+(y + height/2 - params.vertical - params.quad)+' L '+topPoint, stroke: '#fff',  'stroke-width': 1, fill:'none', 'class':tower === 2?'stro1 stro1--2': tower === 3?'stro1 stro1--3':'stro1' });
                stro2 = makeSVGElement('path', { d:'M '+( x + width )+' '+( y + height )+ ' L '+( x + width )+' '+y+ ' L '+x+' '+y+ ' L '+x+' '+( y + height/2 )+ ' L '+(x - params.horizontal)+' '+( y + height/2 )+' L '+(x - params.horizontal)+' '+(y + height/2 - params.vertical)+' L '+(x - params.horizontal + params.quad/2)+' '+(y + height/2 - params.vertical)+' L '+(x - params.horizontal + params.quad/2)+' '+(y + height/2 - params.vertical - params.quad)+' L '+topPoint, stroke: '#fff',  'stroke-width': 1, fill:'none','class':tower === 2?'stro2 stro2--2': tower === 3?'stro2 stro2--3':'stro2' });
            }else{
                ytext = (y + params.textoffset * 2);
                topPoint = (x - params.horizontal)+' '+(y + height/2 + params.vertical + params.quad);
                stro1 = makeSVGElement('path', { d:'M '+( x + width )+' '+( y + height )+ ' L '+x+' '+( y + height )+ ' L '+x+' '+( y + height/2 )+ ' L '+(x - params.horizontal)+' '+( y + height/2 )+' L '+(x - params.horizontal)+' '+(y + height/2 + params.vertical)+' L '+(x - params.horizontal - params.quad/2)+' '+(y + height/2 + params.vertical)+' L '+(x - params.horizontal - params.quad/2)+' '+(y + height/2 + params.vertical + params.quad)+' L '+topPoint, stroke: '#fff',  'stroke-width': 1, fill:'none', 'class':tower === 2?'stro1 stro1--2': tower === 3?'stro1 stro1--3':'stro1' });
                stro2 = makeSVGElement('path', { d:'M '+( x + width )+' '+( y + height )+ ' L '+( x + width )+' '+y+ ' L '+x+' '+y+ ' L '+x+' '+( y + height/2 )+ ' L '+(x - params.horizontal)+' '+( y + height/2 )+' L '+(x - params.horizontal)+' '+(y + height/2 + params.vertical)+' L '+(x - params.horizontal + params.quad/2)+' '+(y + height/2 + params.vertical)+' L '+(x - params.horizontal + params.quad/2)+' '+(y + height/2 + params.vertical + params.quad)+' L '+topPoint, stroke: '#fff',  'stroke-width': 1, fill:'none','class':tower === 2?'stro2 stro2--2': tower === 3?'stro2 stro2--3':'stro2' });
            }

            titlesvg.setAttribute('y', ytext);
            textsvg1.setAttribute('y', (ytext + params.lineheight));
            textsvg2.setAttribute('y', (ytext + params.lineheight*2));
            titlesvg.setAttribute('x', xtext);
            textsvg1.setAttribute('x', xtext);
            textsvg2.setAttribute('x', xtext);
            g.appendChild(stro1);
            g.appendChild(stro2);

        }
    }
    $(document).ready(function () {
        rewriteSVG();
        $(document).on('mouseover', '.floortoplan', function (e) {
           $(this).closest('g').addClass('show');
            $('.planner__section__text').addClass('hide');
        });
        $(document).on('mouseleave', '.floortoplan', function () {
            $(this).closest('g').removeClass('show');
            $('.planner__section__text').removeClass('hide');
        });
        $(document).on('click', '.floortoplan', function () {
           window.location.href = 'planinner.html';
        });
    });
</script>
</body>
</html>