//= partials/head.html
<div class="global-wrapper">

    <div class="main">
        <section class="js-view-checker section planner__section">
            <div class="planner">
                <div class="planner__topleft">
                    <a href="plan.html" class="planner__backbtn">
                        <i class="backarrow"><svg><use xlink:href="#arrow"></use></svg></i><span>Назад</span>
                    </a>
                    <div class="planner__towerselector">
                        <div class="planner__selector" >
                            <label><input type="radio" checked="checked" name="tower"><span>Park Tower</span></label>
                            <label><input type="radio" name="tower"><span>City Tower</span></label>
                            <label><input type="radio" name="tower"><span>River Tower</span></label>
                        </div>
                    </div>
                    <div class="mobnav">
                        <div class="mobnav__selector">
                            <p>башня</p>
                            <a href="#">Park Tower</a>
                        </div>
                        <div class="mobnav__selector">
                            <p>этаж</p>
                            <a href="#">32</a>
                        </div>

                    </div>
                </div>
                <div class="planner__main">
                    <div class="planner__main-svg">
                        <!--<div class="noplan">-->
                            <!--<h1>На этом уровне-->
                                <!--квартир в продаже нет</h1>-->
                        <!--</div>-->
                        <img src="http://capitaltowers.ru/upload/iblock/e03/22_38-png-new.png" alt="">
                        <svg class="floors-item-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 790.73 353.5">
                            <g id="Слой_2" data-name="Слой 2">
                                <g id="Слой_1-2" data-name="Слой 1">
                                    <polygon class="svg-hover-element flat-item _disabled" data-key="0" points="126.19 80.13 126.19 82.14 126.19 83.94 126.12 83.94 126.12 140.5 140.35 140.5 140.35 143.3 154.44 143.3 156.23 143.27 156.23 153.07 191.09 153.07 191.09 132.66 192.81 132.66 219.55 132.66 219.55 97.88 219.47 96.08 278.19 96.08 279.7 96.08 298.74 96.08 321.95 96.08 340.71 96.08 340.71 66.62 340.78 64.89 340.78 62.88 345.53 62.88 345.53 0 287.96 0 278.19 0 170.9 0 161.26 0 151.06 0 94.86 0 94.86 79.19 126.19 79.19 126.19 80.13"></polygon>
                                    <text x="196" y="70" class="flat-item-text show">SOLD</text>
                                    <polygon class="svg-hover-element flat-item" data-key="1" points="344.38 93.21 378.8 93.21 378.73 96.08 416.53 96.08 433.63 96.08 478.19 96.08 478.19 96.23 481.14 96.23 481.14 97.67 480.92 152.21 511.53 152.28 511.75 97.74 511.53 96.08 513.33 96.08 534.53 96.08 534.53 66.62 530.51 66.62 530.51 64.89 530.51 0 478.19 0 476.61 0 418.9 0 414.23 0 404.89 0 350.05 0 350.05 64.89 350.05 66.62 344.38 66.62 344.38 93.21"></polygon>
                                    <polygon class="svg-hover-element flat-item" data-key="2" points="667.48 0 656.99 0 607.9 0 606.18 0 541 0 541 64.89 541 66.55 541 96.08 584.05 96.08 585.63 96.08 638.23 96.08 638.23 97.88 638.23 132.66 665.25 132.66 666.98 132.74 676.32 132.74 676.32 153.07 692.49 153.07 692.49 135.25 698.74 135.25 700.32 135.47 718.29 135.47 718.29 144.16 783.25 144.38 783.33 131.8 790.73 131.8 790.73 95.15 790.73 68.56 790.73 0 667.48 0"></polygon>
                                    <polygon class="svg-hover-element flat-item" data-key="3" points="790.23 158.32 783.04 158.32 783.04 149.19 718.36 149.19 718.36 201.8 718.36 228.17 700.39 228.17 698.81 228.17 692.42 228.17 692.42 201.8 666.98 201.8 666.98 219.76 665.33 219.84 638.38 219.84 638.38 255.77 638.23 257.35 633.71 257.35 632.12 257.35 581.24 257.35 559.83 257.56 541.07 257.56 541.07 286.88 541 288.54 541.22 288.54 541.22 353.22 600.29 353.22 601.58 353.22 656.99 353.22 667.48 353.22 790.15 353.22 790.15 284.51 790.44 258.07 790.44 221.34 790.23 194.97 790.23 158.32"></polygon>
                                    <polygon class="svg-hover-element flat-item" data-key="4" points="511.25 257.13 511.25 202.73 480.63 202.73 480.63 257.35 433.06 257.35 416.46 257.42 379.01 257.42 379.01 260.3 344.38 260.3 344.38 287.1 350.56 287.1 350.56 288.82 350.56 353.5 404.89 353.5 414.23 353.29 530.72 353.29 530.72 288.61 530.72 286.6 534.6 286.6 534.6 257.13 513.04 257.13 511.25 257.13"></polygon>
                                    <polygon class="svg-hover-element flat-item _disabled" data-key="5" points="340.78 288.68 340.78 287.1 340.78 257.42 321.95 257.42 298.96 257.35 246.57 257.35 244.99 257.35 219.55 257.35 219.55 255.41 219.55 240.6 196.19 240.6 194.54 240.6 194.54 201.94 191.45 201.94 165.58 201.94 165.58 206.9 156.38 206.9 156.38 209.85 154.65 209.85 133.2 209.85 133.24 205.1 133.24 173.34 121.16 173.34 121.16 153.94 121.09 84.23 103.63 84.23 89.83 84.23 89.83 0 0 0 21.27 70.36 29.25 95.72 40.46 133.45 46.71 154.15 46.14 158.32 37.66 194.47 31.62 220.55 22.93 257.49 16.89 283.58 0.57 353.43 151.06 353.43 161.48 353.43 220.55 353.43 222.21 353.43 277.47 353.43 287.96 353.43 345.31 353.43 345.31 290.48 340.78 290.48 340.78 288.68"></polygon>
                                </g>
                            </g>
                        </svg>
                    </div>

                </div>
                <div class="planner__bottom">
                    <div class="etagirio">
                        <div class="etagirio__title">Выберите этаж</div>
                        <div class="etagirio__up etagirio__arrow"></div>
                        <div class="floor__wrapper">
                            <ul class="floor__list">
                                <li class="floor__stroke floor__stroke--black"><a href="#">60</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">69</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">68</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">67</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">66</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">65</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">64</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">63</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">62</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">61</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">60</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">59</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">58</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">57</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">56</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">55</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">54</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">53</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">52</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">51</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">50</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">49</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">48</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">47</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">46</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">45</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">44</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">43</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">42</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">41</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">40</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">39</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">38</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">37</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">36</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">35</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">34</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">33</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">32</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">31</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">30</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">29</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">28</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">27</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">26</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">25</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">24</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">23</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">22</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">21</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black active"><a href="#">20</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">19</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">18</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">17</a><span>этаж</span></li>
                                <li class="floor__stroke floor__stroke--black"><a href="#">16</a><span>этаж</span></li>
                            </ul>
                        </div>
                        <div class="etagirio__down etagirio__arrow"></div>
                    </div>

                    <a href="javascript:;"  data-sim="[2,3,4]" onclick="showSimilar(this);" class="btn btn--big btn--big--smalladaptive btn--gray">Похожие планировки<i><svg width="40" height="20"><use xlink:href="#arrow"></use></svg></i></a>
                </div>
                <div class="planner__svg-info">

                </div>
                <div class="planner__popup planner__popup--views">
                    <div class="planner__svg hide">
                        <a href="images/fonovui.png" data-fancybox="gallery"><img src="images/fonovui.png" alt=""></a>
                        <a href="images/fonovui.png" data-fancybox="gallery" class="disabled"><img src="images/fonovui.png" alt=""></a>
                        <a href="images/fonovui.png" data-fancybox="gallery" class="disabled"><img src="images/fonovui.png" alt=""></a>
                        <a href="images/fonovui.png" data-fancybox="gallery" class="disabled"><img src="images/fonovui.png" alt=""></a>
                    </div>

                </div>
                <div class="planner__popup animated-always">

                    <div class="planner__svg hide">
                        <a href="#popplan" data-fancybox=""><img src="images/pop25.jpg" alt=""></a>
                    </div>


                </div>
                <div class="planner__floor">
                    <div data-id="1"class="flatplan">
                        <img src="images/flatplan.jpg" alt="">
                        <div class="flatplan__num">№ 38.03</div>
                        <div class="flatplan__similar" data-sim="[2,3,4]" onclick="showSimilar(this);">Похожие квартиры</div>
                        <div class="flatplan__tower">River Tower</div>
                        <div class="flatplan__square">
                            <b>39.93 м<sup>2</sup></b>
                            <p>38 этаж</p>
                        </div>
                    </div>
                    <div data-id="2"class="flatplan">
                        <img src="images/flatplan.jpg" alt="">
                        <div class="flatplan__num">№ 39.04</div>
                        <div class="flatplan__similar"
                             data-sim="[1,3,4]"
                             onclick="showSimilar(this);">Похожие квартиры</div>
                        <!-- data-sim масив id таких же блоков class="flatplan" для похожих планировок -->
                        <div class="flatplan__tower">City Tower</div>
                        <div class="flatplan__square">
                            <b>129.93 м<sup>2</sup></b>
                            <p>39 этаж</p>
                        </div>
                    </div>
                    <div data-id="3"class="flatplan">
                        <img src="images/flatplan.jpg" alt="">
                        <div class="flatplan__num">№ 58.05</div>
                        <div class="flatplan__similar" data-sim="[1,2,4]" onclick="showSimilar(this);">Похожие квартиры</div>
                        <div class="flatplan__tower">Park Tower</div>
                        <div class="flatplan__square">
                            <b>119.93 м<sup>2</sup></b>
                            <p>58 этаж</p>
                        </div>
                    </div>
                    <div data-id="4"class="flatplan">
                        <img src="images/flatplan.jpg" alt="">
                        <div class="flatplan__num">№ 42.06</div>
                        <div class="flatplan__similar" data-sim="[1,2,3]" onclick="showSimilar(this);">Похожие квартиры</div>
                        <div class="flatplan__tower">River Tower</div>
                        <div class="flatplan__square">
                            <b> 9.93 м<sup>2</sup></b>
                            <p>42 этаж</p>
                        </div>
                    </div>
                </div>
                <div class="planner__docs">
                    <div class="planner__docs--bts">
                        <a href="javascript:;" onclick="$('.planner__tomail').addClass('toflat'); $('.planner__docs').removeClass('toflat')"><i><svg><use xlink:href="#mail"></use></svg></i><span>Отправить на E-mail</span></a>
                        <a href="#"><i><svg><use xlink:href="#letter"></use></svg></i><span>Скачать PDF</span></a>
                    </div>
                    <a href="#learnmore" data-fancybox class="btn btn--big btn--gray">Узнать подробнее<i><svg width="40" height="20"><use xlink:href="#arrow"></use></svg></i></a>
                </div>
                <form class="planner__tomail">
                    <input type="email" name="mail" placeholder="Введите ваш email">
                    <button class="btn btn--inverted" type="button" onclick="$('.planner__tomail').removeClass('toflat'); $('.planner__docs').addClass('toflat')">отправить</button>
                </form>
                <div class="planner__similar hide">
                    <div class="planner__similar--wrap">
                        <div class="planner__floor-title">
                            <b>Похожие квартиры</b>
                            <button type="button" onclick="closeSimilarPopup();" class="planner__cross"><svg><use xlink:href="#cross"></use></svg></button>
                        </div>
                        <div class="planner__similar--content"></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside__white.html
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
        //= partials/footertrue.html
    //= partials/footer.html
    <script>
        function showSimilar(elem){
            var id = $(elem).data('sim');
            var container = $('.planner__similar');
            $.ajax({
                data:id,
                url:'similar.php',
                success: function (data) {
                    container.find('.planner__similar--content').html(data);
                    container.removeClass('hide');
                }
                
            });
        }
        function closeSimilarPopup() {
            $('.planner__similar').addClass('hide');
        }
        function goToFlat(elem) {
            $(elem).addClass('toflat');
            $(elem).closest('.planner__main').addClass('toflat');
            $('.planner__selector').addClass('toflat');
            $('.planner__popup').addClass('toflat');
            $('.planner__floor').addClass('toflat');
            $('.flatplan[data-id='+$(elem).attr('data-key')+']').addClass('toflat');
            $('.planner__bottom').addClass('toflat');
            $('.planner__docs').addClass('toflat');
            hideAllInfo();
        }
        function goToFloor() {
            $('.flat-item').removeClass('toflat');
            $('.planner__main').removeClass('toflat');
            $('.planner__selector').removeClass('toflat');
            $('.planner__popup').removeClass('toflat');
            $('.flatplan').removeClass('toflat');
            $('.planner__bottom').removeClass('toflat');
            $('.planner__docs').removeClass('toflat');
            $('.planner__tomail').removeClass('toflat');
            $('.flat-item').removeClass('first');
        }
        function hideAllInfo(){
            $('.hoverinfoblock').remove()
        }
        function showInfo(event, elem){
            var flat = $('.flatplan[data-id='+$(elem).attr('data-key')+']');
            var infoNum = flat.find('.flatplan__num').text();
            var infoSquare = flat.find('.flatplan__square b').html();
            var info = document.createElement('div');
            info.classList.add('hoverinfoblock');
            info.innerHTML = '<h5>'+infoNum+'</h5><h6>'+infoSquare+'</h6>';
            $('body').append(info);
            $(info).css({
                'left':event.pageX - 50,
                'top':event.pageY - 50,
            }) ;
            info.style.top = event.pageY;
            console.log(info);
        }
        $(document).ready(function () {
            $('input[name="tower"]')[0].click(); // убрать при натяжке!!!!
            $(document).on('change', 'input[name="sadasdq1"]', function(){
                mobfloor();

            });
            $(document).on('change', 'input[name="tower"]', function(){
                if(window.innerWidth <= 992){ closeDD('selector'); }
            })
            $(document).on('click', '.flat-item', function (e) {
                if($('html').hasClass('mobile')){
                    if($(this).hasClass('first')){
                        $('.planner__svg-item').removeClass('show');
                        goToFlat(this);
                    }else{
                        showInfo(e,this);
                        $(this).addClass('first');
                    }
                }else{
                    goToFlat(this);
                }

            });
            $(document).on('click', '.planner__main.toflat', function (e) {
                goToFloor();
            });
            $(document).on('mouseenter', '.flat-item', function (e) {
                showInfo(e, this);
            });

            $(document).on('mousemove', '.flat-item', function (event) {
                $('.hoverinfoblock').css({
                    'left':event.pageX - 50,
                    'top':event.pageY - 50,
                }) ;
            });
            $(document).on('mouseleave', '.flat-item', function (e) {
                hideAllInfo();
            });
        });
    </script>
</div>
</body>
</html>