//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">
    <div class="main">
        <section class="build">
            <div class="wbox">
                <div class="calculator__title">
                    <h2>Ход строительства</h2>
                </div>
                <div class="build">
                    <div class="build__left">
                        <div class="build__decor" style="width: 19%; height: 27%; left: 18.3%; top: 8.5%;"></div>
                        <div class="build__decor" style="width: 44%; height: 37%; left: 5%; top: 41%;"></div>
                        <div class="build__title">
                            <h3>2018</h3>
                        </div>
                        <div class="build__columnroll js-anim__section">
                            <div class="build__img-row">
                                <a href="images/20181.jpg" data-fancybox class="build__img-cell img-animation js-anim__delay"> <img src="images/20181.jpg" alt=""></a>
                                <a href="images/20181.jpg" data-fancybox class="build__img-cell img-animation js-anim__delay"> <img src="images/20181.jpg" alt=""></a>
                            </div>
                            <div class="build__img-row">
                                <a href="images/20182.jpg" data-fancybox class="build__img-cell img-animation js-anim__delay"><img src="images/20182.jpg" alt=""></a>
                            </div>
                        </div>

                    </div>
                    <!--<div class="build__right">-->
                        <!--<div class="build__text">-->
                           <!--<p>Как отметили в отделе продаж, «благодаря программе от Системы Лизинг 24 (АО) при первоначальном взносе от 35% стоимости договора на квартиру можно воспользоваться правом на рассрочку.-->
                               <!--Максимально возможный срок рассрочки устанавливается индивидуально и ограничивается сроком сдачи объекта в эксплуатацию (за минусом 2-х календарных месяцев). Для оформления заявки на приобретение квартиры по программе рассрочки необходим минимальный пакет документов – паспорт и заполненная анкета. Решение по заявке составит всего за 1-2 рабочих дня».</p>-->
                        <!--</div>-->

                    <!--</div>-->
                </div>
                <div class="build">
                    <div class="build__left">
                        <div class="build__decor" style="width: 39%; height: 50%; left: 15%; top: 6%;"></div>
                        <div class="build__title">
                            <h3>2017</h3>
                        </div>
                        <div class="build__img-row js-anim__section">
                            <a href="images/20171.jpg" data-fancybox class="build__img-cell img-animation js-anim__it"><img src="images/20171.jpg" alt=""></a>
                        </div>
                        <div class="build__img-row js-anim__section">
                            <a href="images/20171.jpg" data-fancybox class="build__img-cell img-animation js-anim__delay"> <img src="images/20172.jpg" alt=""></a>
                            <a href="images/20171.jpg" data-fancybox class="build__img-cell img-animation js-anim__delay"> <img src="images/20172.jpg" alt=""></a>
                            <a href="images/20171.jpg" data-fancybox class="build__img-cell img-animation js-anim__delay"> <img src="images/20172.jpg" alt=""></a>
                            <a href="images/20171.jpg" data-fancybox class="build__img-cell img-animation js-anim__delay"> <img src="images/20172.jpg" alt=""></a>
                        </div>
                    </div>
                    <!--<div class="build__right">-->
                        <!--<div class="build__text">-->
                            <!--<p>Расположенный в районе с развитой инфраструктурой, на первой линии Москвы-реки и рядом с парком «Красная Пресня», проект воплотил накопленную Capital Group экспертизу в высотном строительстве. </p>-->
                            <!--<p> Современные технологии позволяют владельцам квартир и пентхаусов управлять климатом и обеспечивают максимальный комфорт. Собственная инфраструктура с приватным парком более 1 га позволит выбрать оптимальный вариант для досуга, а панорамные виды на знаковые места столицы ежедневно будут вдохновлять на новые достижения.-->
                            <!--</p>-->
                        <!--</div>-->

                    <!--</div>-->
                </div>
                <div class="build">
                    <div class="build__left">
                        <div class="build__decor" style="width: 79%; height: 80%; left: 10%; top: 4%;"></div>
                        <div class="build__decor" style="width: 98%; height: 42%; left: -9%; top: 58%;"></div>
                        <div class="build__title">
                            <h3>2016</h3>
                        </div>
                        <div class="build__img-row js-anim__section">
                            <a href="images/20161.jpg" data-fancybox class="build__img-cell img-animation js-anim__delay"> <img src="images/20161.jpg" alt=""></a>
                            <a href="images/20161.jpg" data-fancybox class="build__img-cell img-animation js-anim__delay"> <img src="images/20162.jpg" alt=""></a>
                        </div>
                        <div class="build__img-row js-anim__section">
                            <a href="images/20163.jpg" data-fancybox class="build__img-cell img-animation js-anim__it"><img src="images/20163.jpg" alt=""></a>
                        </div>
                    </div>
                    <!--<div class="build__right js-anim__section">-->
                        <!--<div class="build__decor" style="width: 66%; height: 23%; right: 0; top: 61%;"></div>-->
                        <!--<div class="build__text">-->
                            <!--<p>Важно, что в небоскребах будут именно квартиры, а не апартаменты. И покупатели жилья в новом комплексе будут платить налог на имущество по той же ставке, что и владельцы других квартир в Москве, тогда как хозяева апартаментов вынуждены платить больше.</p>-->
                        <!--</div>-->
                        <!--<a href="images/20164.jpg" data-fancybox  class="build__img img-animation js-anim__it"><img src="images/20164.jpg" alt=""></a>-->

                    <!--</div>-->
                </div>
            </div>
        </section>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside__white.html
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footertrue.html
    //= partials/footer.html
</div>
</body>
</html>