//= partials/head.html
//= partials/preloader2.html
<div class="global-wrapper">
    <div class="main">
        <div class="section__slider">
            <!--<section class="section section&#45;&#45;views">-->
                <!--<div class="views__wrap">-->
                    <!--<div class="views__line views__line2">-->
                        <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 1920 960" preserveAspectRatio="xMidYMid slice">-->
                            <!--<style>-->
                                <!--#strokeWindow1{stroke-dasharray: 1981; stroke-dashoffset: 1982; transition: all 5s;}-->
                                <!--#strokeWindow2{ stroke-dasharray: 1965; stroke-dashoffset: 1966; transition: all 4.5s; transition-delay: 500ms;}-->
                            <!--</style>-->
                            <!--<image style="overflow:visible;" width="1920" height="960" xlink:href="images/views_1.png">-->
                            <!--</image>-->
                            <!--<path id="strokeWindow1" stroke="#fff" stroke-width="1" fill="none" d="M 1568 695 L 367 695 L 385 667 L 195 667 L 195 235 L 191 235 L 191 229 L 195 229"></path>-->
                            <!--<path id="strokeWindow2" stroke="#fff" stroke-width="1" fill="none" d="M 1568 695 L 1534 646 L 400 645 L 385 667 L 195 667 L 195 235 L 199 235 L 199 229 L 195 229"></path>-->
                        <!--</svg>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="views">-->
                    <!--<div class="texter">-->
                        <!--<h2>Виды</h2>-->
                        <!--<div class="views__texts">-->
                            <!--<p>-->
                                <!--Дом Правительства или «Москва-Сити»?-->
                                <!--Гостиница «Украина» или МГУ? Зачем выбирать?-->
                                <!--519 из 720 квартир Capital Towers показывают-->
                                <!--две стороны Москвы.-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<b>Вам не придется выбирать роскошные виды величественной столицы — вам доступны все.</b>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->
            <section class="section section--day">
                <div class="views__wrap">
                    <div class="views__background"></div>
                    <div class="drag__panel" id="drag_panel"></div>
                    <div class="views__line views__line--right js-panorama day" id="action_window">
                        <svg class="picture day active" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2955 960" style="enable-background:new 0 0 1288.8 230.4;" xml:space="preserve"  preserveAspectRatio="xMinYMin slice">
                            <image class="views__fon" style="overflow:visible;" width="2955" height="960" xlink:href="images/40d.jpg"> </image>
                            <g class="play">
                                <image style="overflow:visible;"  data-hoverset="cntrUKR40d" data-time="day" x="1964" y="364" width="183" height="177" xlink:href="images/UKR40d.png"></image>
                                <path  id="cntrUKR40d" stroke="#fff" stroke-width="1" fill="none" d="M 1964 542 L 1964 505 L 1971 505 L 1971 494 L 1978 494 L 1978 506 L 1994 506 L 1994 495 L 2005 495 L 2005 474 L 2009 474 L 2009 447 L 2013 433 L 2015 440 L 2020 440 L 2020 423 L 2027 420 L 2026 413 L 2030 406 L 2030 368 L 2028 366 L 2030 364 L 2034 366 L 2032 368 L 2035 408 L 2039 413 L 2038 422 L 2044 423 L 2044 437 L 2046 440 L 2050 433 L 2055 447 L2055 474 L2059 474 L2059 501 L 2081 501 L2081 493 L 2092 493 L2092 503 L 2104 504 L2104 495 L2112 496 L2112 505 L2128 506 L2128 498 L2137 499 L2137 508 L2147 511  L2147 527" ></path>
                                <path  class="text-line" stroke="#fff" stroke-width="1" fill="none" d="M 1974 495 L 1990 425 L1987 425 L1987 419 L1993 419 L1993 425 L1990 425" ></path>
                                <text text-anchor="end" fill="#fff" class="text-top" x="1970" y ="430"> Гостиница «Украина»</text>
                                <text text-anchor="end" fill="#fff" class="text-top q2" x="1970" y ="450">известное воплощение знаменитого сталинского ампира</text>
                            </g>
                            <g class="play">
                                <image xlink:href="images/WHS40d.png"   data-hoverset="cntrWHS40d" data-time="day" x="1751" y="437" width="51" height="58"></image>
                                <path  id="cntrWHS40d" stroke="#fff" stroke-width="1" fill="none" d="M 1752 491 L 1752 458 L 1773 457 L 1773 449 L 1780 449 L1780 456 L 1802 456 L 1802 490 " ></path>
                                <path  class="text-line" stroke="#fff" stroke-width="1" fill="none" d="M 1802 490 L 1811 425 L1808 425 L1808 419 L1814 419 L1814 425 L1811 425" ></path>
                                <text text-anchor="end" fill="#fff" class="text-top" x="1800" y ="420"> Белый дом</text>
                                <text text-anchor="end" fill="#fff" class="text-top q2" x="1800" y ="440"> самое узнаваемое административное здание страны</text>
                            </g>
                            <g class="play">
                                <image xlink:href="images/WTC40d.png"    data-hoverset="cntrWTC40d" data-time="day" x="1375" y="400" width="144" height="256"></image>
                                <path  id="cntrWTC40d" stroke="#fff" stroke-width="1" fill="none" d="M 1375 636 L 1376 408 L 1380 401 L 1384 400 L 1385 402 L 1445 402 L 1449 400 L 1451 400 L 1452 405 L 1452 603 L 1456 606 L1456 488 L1459 486 L1457 482 L1460 479 L 1515 480 L1517 486 L1520 487 L1518 647" ></path>
                                <path  class="text-line" stroke="#fff" stroke-width="1" fill="none" d="M 1376 490 L 1365 425 L1362 425 L1362 419 L1368 419 L1368 425 L1365 425" ></path>
                                <text text-anchor="end" fill="#fff" class="text-top" x="1345" y="428">Центр международной торговли</text>
                                <text text-anchor="end" fill="#fff" class="text-top q2" x="1345" y="448">Крупнейший бизнес-комплекс столицы
</text>
                            </g>
                            <g class="play">
                                <image xlink:href="images/KPP40d.png"    data-hoverset="cntrKPP40d" data-time="day" x="1" y="604" width="1745" height="356"></image>
                                <path  id="cntrKPP40d" stroke="#fff" stroke-width="1" fill="none" d="M 0 873 L 36 857 L 38 841 L 42 841 L 55 847 L 63 853 L 83 844 L 93 829 L 83 800 L 87 781 L 94 782 L 95 775 L 115 780 L 127 769 L 137 770 L 143 760 L 169 759 L 186 755 L 176 747 L 178 734 L 186 728 L 196 727 L 213 730 L 225 718 L 238 718 L 239 703 L 248 707 L 249 690 L 256 695 L 256 711 L 283 722 L 287 714 L 281 689 L 293 675 L 302 690 L 313 687 L 325 693 L 336 690 L 331 680 L 346 672 L 354 686 L 360 661 L 370 654 L 376 666 L 380 658 L 390 661 L 394 666 L 400 645 L 412 638 L 432 636 L 443 659 L 453 632 L 460 640 L 466 629 L 470 635 L 473 627 L 482 627 L 491 644 L 500 704 L 510 697 L 520 678 L 530 684 L 540 682 L 550 674 L 560 657 L 570 664 L 580 662 L 581 681 L 588 678 L 592 664 L 617 662 L 630 659 L 650 662 L 660 670 L 665 665 L 670 672 L 680 671 L 689 653 L 687 637 L 701 634 L 708 641 L 700 665 L 720 678 L 722 664 L 730 668 L 738 692 L 742 669 L 750 663 L 760 693 L 770 697 L 775 677 L 770 664 L 788 654 L 800 659 L 812 658 L 828 649 L 848 648 L 849 673 L 864 671 L 874 677 L 890 667 L 899 673 L 916 659 L 930 661 L 943 653 L 950 654 L 950 642 L 961 636 L 960 620 L 970 611 L 991 619 L 1009 613 L 1025 617 L 1032 623 L 1049 613 L 1054 604 L 1065 604 L 1076 611 L 1073 626 L 1100 634 L 1111 639 L 1117 634 L 1120 640 L 1125 625 L 1140 637 L 1160 636 L 1170 627 L 1180 635 L 1190 633 L 1213 637 L 1217 644 L 1224 634 L 1235 643 L 1265 637 L 1279 643 L 1297 652 L 1297 639 L 1337 640 L 1345 653 L 1350 653 L1360 669 L1370 662 L1380 666 L1395 668 L1404 700 L1420 700 L1424 720 L1419 752 L1408 770 L1410 796 1417 797 L1420 805 L1432 806 L1445 853 L1471 861 L1480 895 1490 895 L1493 885 L1511 875 L1530 873 L1562 877 L1580 884 L1618 856 L1630 860 L1640 859 L1657 848 L1670 853 L1680 848 L1690 850 L1693 842 L1710 847 L1723 867 L1745 909 L1745 943 L1740 960" ></path>
                                <path  class="text-line" stroke="#fff" stroke-width="1" fill="none" d="M 524 681 L 562 609 L 559 609 L 559 603 L 565 603 L 565 609 L 562 609"></path>
                                <text text-anchor="end" fill="#fff" class="text-top" x="546" y="600">Парк Красная Пресня</text>
                                <text text-anchor="end" fill="#fff" class="text-top q2" x="546" y="620"> Современное пространство для отдыха московской интеллигенции</text>
                            </g>
                        </svg>
                        <svg class="picture night" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 2927 960" style="enable-background:new 0 0 1288.8 230.4;" xml:space="preserve"  preserveAspectRatio="xMinYMin slice">
                            <image class="views__fon" style="overflow:visible;" width="2927" height="960" xlink:href="images/40n.jpg"> </image>
                            <g class="play">
                                <image style="overflow:visible;"  data-hoverset="cntrUKR40n" data-time="night" x="2445" y="304" width="232" height="232" xlink:href="images/UKR40n.png"></image>
                                <path  id="cntrUKR40n" stroke="#fff" stroke-width="1.5" fill="none" d="M2448.500,522.500 L2447.500,490.500 L2445.500,486.500 L2446.500,481.500 L2454.500,480.500 L2455.500,469.500 L2458.500,466.500 L2458.500,462.500 L2461.500,459.500 L2464.500,461.500 L2465.500,467.500 L2469.500,467.500 L2470.500,478.500 L2475.500,478.500 L2481.500,478.500 L2482.500,469.500 L2483.500,466.500 L2486.500,465.500 L2487.500,458.500 L2489.500,455.500 L2492.500,459.500 L2491.500,464.500 L2495.500,465.500 L2497.500,467.500 L2498.500,446.500 L2502.500,443.500 L2501.500,407.500 L2503.500,406.500 L2503.500,399.500 L2508.500,393.500 L2513.500,397.500 L2515.500,386.500 L2513.500,383.500 L2516.500,381.500 L2517.500,377.500 L2522.500,371.500 L2522.500,361.500 L2526.500,359.500 L2528.500,310.500 L2527.500,308.500 L2527.500,305.500 L2529.500,304.500 L2532.500,305.500 L2533.500,306.500 L2533.500,307.500 L2532.500,310.500 L2536.500,359.500 L2540.500,362.500 L2541.500,373.500 L2545.500,375.500 L2546.500,380.500 L2549.500,382.500 L2549.500,397.500 L2555.500,392.500 L2559.500,396.500 L2559.500,404.500 L2562.500,406.500 L2562.500,408.500 L2561.500,410.500 L2562.500,437.500 L2566.500,443.500 L2567.500,462.500 L2569.500,461.500 L2571.500,459.500 L2574.500,461.500 L2575.500,465.500 L2577.500,466.500 L2579.500,478.500 L2592.500,478.500 L2596.500,479.500 L2596.500,467.500 L2596.500,465.500 L2600.500,465.500 L2600.500,461.500 L2602.500,457.500 L2605.500,459.500 L2605.500,464.500 L2609.500,465.500 L2609.500,468.500 L2610.500,478.500 L2614.500,477.500 L2622.500,477.500 L2622.500,465.500 L2630.500,457.500 L2632.500,459.500 L2634.500,464.500 L2638.500,465.500 L2639.500,480.500 L2643.500,476.500 L2648.500,477.500 L2651.500,477.500 L2652.500,469.500 L2656.500,462.500 L2656.500,457.500 L2660.500,455.500 L2662.500,458.500 L2664.500,463.500 L2667.500,464.500 L2668.500,479.500 L2676.500,479.500 L2680.500,482.500 L2680.500,488.500" ></path>
                                <path  class="text-line" stroke="#fff" stroke-width="1.5" fill="none" d="M 2448 502 L 2420 425 L 2414 425 L 2414 419 L 2420 419 L 2420 425" ></path>
                                <text text-anchor="end" fill="#fff" class="text-top" x="2400" y ="426"> Гостиница «Украина» </text>
                                <text text-anchor="end" fill="#fff" class="text-top q2" x="2400" y ="446">известное воплощение знаменитого сталинского ампира</text>
                            </g>
                            <g class="play">
                                <image xlink:href="images/WHS40n.png"   data-hoverset="cntrWHS40n" data-time="night" x="2189" y="426" width="66" height="85"></image>
                                <path  id="cntrWHS40n" stroke="#fff" stroke-width="1.5" fill="none" d="M 2190 488 L 2190 453 L 2219 452 L 2219 440 L 2222 440 L 2223 429 L 2224 440 L 2227 440 L2227 452 L2254 453 L2254 495 L2303 492 L2303 505" ></path>
                                <path  class="text-line" stroke="#fff" stroke-width="1" fill="none" d="M 2190 475 L 2160 400 L 2154 400 L 2154 394 L 2160 394 L 2160 400" ></path>
                                <text text-anchor="end" fill="#fff" class="text-top" x="2141" y ="400"> Белый дом</text>
                                <text text-anchor="end" fill="#fff" class="text-top q2" x="2141" y ="420">самое узнаваемое административное здание страны</text>
                            </g>
                            <g class="play">
                                <image xlink:href="images/WTC40n.png"    data-hoverset="cntrWTC40n" data-time="night" x="1674" y="303" width="173" height="293"></image>
                                <path  id="cntrWTC40n" stroke="#fff" stroke-width="1" fill="none" d="M 1676.500 574.500 L1675.500,304.500 L1759.500,302.500 L1766.500,304.500 L1771.500,307.500 L1773.500,381.500 L1783.500,380.500 L1786.500,383.500 L1790.500,382.500 L1793.500,381.500 L1842.500,382.500 L1849.500,397.500 L1849.500,586.500"></path>
                                <path  class="text-line" stroke="#fff" stroke-width="1" fill="none" d="M 1676 490 L 1645 425 L1642 425 L1642 419 L1648 419 L1648 425 L1645 425" ></path>
                                <text text-anchor="end" fill="#fff" class="text-top" x="1635" y="428">Центр международной торговли</text>
                                <text text-anchor="end" fill="#fff" class="text-top q2" x="1635" y="448">Крупнейший бизнес-комплекс столицы</text>
                            </g>
                            <g class="play">
                                <image xlink:href="images/KPP40n.png"    data-hoverset="cntrKPP40n" data-time="night" x="1" y="555" width="1952" height="405"></image>
                                <path  id="cntrKPP40n" stroke="#fff" stroke-width="1" fill="none" d="M 0 652.5 L 13.5 647.5 L 25.5 652.5 L 41.5 662.5 L 50.5 660.5 L 62.5 655.5 L 69.5 656.5 L 77.5 651.5 L 81.5 653.5 L 91.5 634.5 L 98.5 634.5 L 98.5 666.5 L 105.5 659.5 L 119.5 660.5 L 128.5 663.5 L 131.5 653.5 L 126.5 645.5 L 128.5 631.5 L 146.5 622.5 L 155.5 624.5 L 166.5 620.5 L 173.5 620.5 L 177.5 616.5 L 191.5 617.5 L 209.5 616.5 L 223.5 611.5 L 243.5 612.5 L 253.5 606.5 L 263.5 606.5 L 279.5 596.5 L 292.5 594.5 L 312.5 580.5 L 318.5 573.5 L 323.5 577.5 L 331.5 575.5 L 340.5 580.5 L 349.5 578.5 L 359.5 564.5 L 369.5 564.5 L 376.5 569.5 L 380.5 561.5 L 394.5 554.5 L 406.5 561.5 L 421.5 576.5 L 433.5 581.5 L 444.5 588.5 L 466.5 591.5 L 488.5 586.5 L 513.5 591.5 L 542.5 591.5 L 554.5 593.5 L 572.5 590.5 L 580.5 595.5 L 592.5 592.5 L 597.5 592.5 L 600.5 594.5 L 614.5 595.5 L 620.5 598.5 L 628.5 587.5 L 637.5 588.5 L 640.5 582.5 L 669.5 585.5 L 680.5 582.5 L 691.5 578.5 L 698.5 576.5 L 698.5 573.5 L 705.5 574.5 L 717.5 565.5 L 756.5 567.5 L 759.5 563.5 L 773.5 568.5 L 784.5 565.5 L 793.5 570.5 L 800.5 571.5 L 802.5 573.5 L 810.5 572.5 L 811.5 576.5 L 817.5 578.5 L 819.5 582.5 L 833.5 570.5 L 841.5 570.5 L 847.5 578.5 L 856.5 583.5 L 876.5 577.5 L 881.5 586.5 L 879.5 598.5 L 895.5 589.5 L 903.5 578.5 L 910.5 585.5 L 914.5 601.5 L 917.5 608.5 L 928.5 606.5 L 937.5 590.5 L 947.5 590.5 L 958.5 584.5 L 963.5 588.5 L 970.5 584.5 L 977.5 589.5 L 987.5 578.5 L 1008.5 578.5 L 1023.5 585.5 L 1033.5 583.5 L 1042.5 586.5 L 1055.5 585.5 L 1066.5 581.5 L 1076.5 585.5 L 1086.5 579.5 L 1095.5 584.5 L 1106.5 581.5 L 1113.5 583.5 L 1121.5 578.5 L 1139.5 578.5 L 1149.5 572.5 L 1170.5 575.5 L 1188.5 584.5 L 1199.5 582.5 L 1209.5 578.5 L 1221.5 564.5 L 1234.5 563.5 L 1237.5 558.5 L 1255.5 556.5 L 1269.5 567.5 L 1290.5 559.5 L 1301.5 559.5 L 1308.5 570.5 L 1325.5 574.5 L 1339.5 571.5 L 1351.5 574.5 L 1360.5 571.5 L 1368.5 573.5 L 1377.5 570.5 L 1384.5 573.5 L 1402.5 573.5 L 1410.5 568.5 L 1419.5 570.5 L 1433.5 563.5 L 1465.5 576.5 L 1472.5 572.5 L 1500.5 577.5 L 1504.5 571.5 L 1527.5 573.5 L 1533.5 576.5 L 1549.5 579.5 L 1559.5 582.5 L 1572.5 577.5 L 1593.5 572.5 L 1616.5 578.5 L 1629.5 573.5 L 1652.5 568.5 L 1674.5 578.5 L 1691.5 596.5 L 1693.5 623.5 L 1683.5 637.5 L 1671.5 641.5 L 1672.5 662.5 L 1680.5 675.5 L 1683.5 687.5 L 1701.5 691.5 L 1715.5 677.5 L 1740.5 678.5 L 1753.5 686.5 L 1778.5 688.5 L 1800.5 692.5 L 1806.5 704.5 L 1817.5 711.5 L 1833.5 717.5 L 1842.5 720.5 L 1848.5 716.5 L 1858.5 714.5 L 1859.5 707.5 L 1869.5 706.5 L 1872.5 699.5 L 1893.5 691.5 L 1914.5 695.5 L 1927.5 713.5 L 1941.5 739.5 L 1942.5 755.5 L 1952.5 779.5 L 1961.5 811.5 L 1971.5 836.5 L 1963.5 868.5 L 1840 960 " ></path>
                                <path  class="text-line" stroke="#fff" stroke-width="1" fill="none" d="M 497 588 L 530 630 L 536 630 L 536 636 L 530 636 L 530 630 " ></path>
                                <text text-anchor="end" fill="#fff" class="text-top" x="790" y="640">Парк Красная Пресня</text>
                                <text text-anchor="end" fill="#fff" class="text-top q2" x="790" y="660">Современное пространство для отдыха московской интеллигенции</text>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="views__right">
                    <div class="views__light">
                        <label class="js-change-day active day">
                            <svg><use xlink:href="#sun"></use></svg>
                        </label>
                        <label  class="js-change-day night">
                            <svg><use xlink:href="#moon"></use></svg>
                        </label>
                    </div>
                    <a href="plan.html" class="btn btn--big" tabindex="0">Выбрать квартиру<i><svg width="40" height="20"><use xlink:href="#arrow"></use></svg></i></a>
                </div>
                <div class="views__left">
                    <div class="floor__adikt">
                        <div class="floor__span">
                            <svg><use xlink:href="#voko"></use></svg>
                            <span>Хочу посмотреть на вид из окон</span>
                        </div>
                        <div class="floor__wrapper">
                            <ul class="floor__list" style="top: 45px;">
                                <li data-get-floor="floor60" class="floor__stroke"><a href="#">60</a><span>этажа</span></li>
                                <li data-get-floor="floor40" class="floor__stroke active"><a href="#">40</a><span>этажа</span></li>
                                <li data-get-floor="floor30" class="floor__stroke"><a href="#">20</a><span>этажа</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="views">
                    <div class="texter">
                        <h2>Великолепные виды
                            на центр Москвы</h2>
                    </div>
                </div>
                <div class="indicator">
                    <div class="indicator__panel">
                        <div class="indicator__button">
                            <div class="indicator__eye"><svg><use xlink:href="#eye2"></use></svg></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="stickey">
            <div class="stickey__wrap">
                <div class="stickey__a">
                    //= partials/aside.html
                </div>

            </div>
        </div>
    </div>
    <style>
        *{user-select: none;}
    </style>
    <link rel="stylesheet" href="css/view.css">
    //= partials/hidden-block.html
        //= partials/footertrue.html
    //= partials/footer.html
</div>
</body>
</html>